{% comment %}
    Renders a Announcement bar

    Accepts:
    - text: {String} Text
    - classes: {String} Classes (optional)
    - attributes
	- link: {String} Link (optionnal)

    Usage:
    {% render 'annoucement' %}
{% endcomment %}

{% assign text = text | default: '' %}
{% assign classes = classes | default: '' %}
{% assign attributes = attributes | default: '' %}

{%- if text != blank -%}
	<div
		class="overflow-hidden text-xs text-center uppercase  whitespace-nowrap {{ classes }}"
		role="region" aria-label="{{ 'sections.header.announcement' | t }}"
		{{ attributes }}
	>
		{%- if link != blank -%}<a class="hover:underline" href="{{ link }}" class="">{%- endif -%}
			<ul class="marquee flex gap-x-2 items-center" style="animation-duration: 120s;">
				{% for i in (1..10) %}
					<li class="flex items-center flex-wrap"><p>{{- text | escape -}}</p></li>
				{% endfor %}
			</ul>
		{%- if link != blank -%}</a>{%- endif -%}
	</div>
{%- endif -%}
