{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
    - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.

    Usage:
    {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
	{% if article.tags contains 'Podcast' and article.metafields.corail.audio.value %}
		<article-audio class="border-orange-grayish border-[0.0625rem] py-5 px-10 block relative">
			<header class="flex justify-between">
				<p>A-2022°08’22J</p>
				<volume type="button" class="relative z-2 cursor-pointer w-6 h-6 flex items-center justify-center">
					{% render 'svg', icon: 'microphone-on', classes: 'w-4 h-[1.375rem] fill-current pointer-events-none block parent-active:hidden' %}
					{% render 'svg', icon: 'microphone-off', classes: 'w-4 h-[1.375rem] fill-current pointer-events-none hidden parent-active:block' %}
				</volume>
			</header>
			<audio src="{{ article.metafields.corail.audio.value.url }}" type="audio/mpeg"></audio>

			<p class="mt-[10.5rem] font-medium font-display text-[2.5rem] leading-[2.75rem]">
				{{- article.title -}}
			</p>

			{% if article.metafields.corail.author.value != blank %}
				<p class="text-xs mt-5 uppercase">By {{ article.metafields.corail.author.value }}</p>
			{% endif %}

			<footer class="mt-6 flex justify-end text-xs">
				<current-time style="font-variant-numeric: tabular-nums;">00:00</current-time>/<duration style="font-variant-numeric: tabular-nums;">00:00</duration>
			</footer>

			<div class="absolute bottom-0 inset-x-0 w-full h-1">
				<tracking class="origin-left block absolute transition-transform duration-500 ease-linear inset-0 w-full h-full bg-gray-very-dark" style="transform: scaleX(0)"></tracking>
			</div>

			<button type="button" class="absolute inset-0 z-1 w-full h-full"></button>
		</article-audio>

		<script src="{{ 'article-audio.js' | asset_url }}" defer="defer"></script>

	{% elsif article.tags contains 'Vidéo' and article.metafields.corail.video.value %}
		<article-video class="block border-orange-grayish border-[0.0625rem] relative">
			<div class="relative z-1" style="padding-bottom: {{ 1 | divided_by: article.metafields.corail.video.value.aspect_ratio | times: 100 }}%;">
				<video playsinline poster="{{ article.metafields.corail.video.value.preview_image | image_url }}" class="absolute inset-0 z-1 w-full h-full object-cover object-center">
					{% for source in article.metafields.corail.video.value.sources %}
						<source src="{{ source.url }}" type="{{ source.mime_type }}">
					{% endfor %}
				</video>

				<state class="absolute z-2 inset-0 flex justify-center items-center w-full h-full">
					{% render 'svg', icon: 'play', classes: 'w-14 h-14 fill-white block parent-active:hidden' %}
					{% render 'svg', icon: 'pause', classes: 'w-14 h-14 fill-white hidden group-hover:block' %}
				</state>
			</div>
			<div class="relative z-1 my-6 mx-5 flex items-center">
				<div class="mr-5 flex-shrink-0">
					<state class="w-8 h-8 rounded-full flex items-center justify-center border-current border-[0.125rem]">
						{% render 'svg', icon: 'play', classes: 'w-1.5 h-1.5 fill-current -mr-0.5 block parent-active:hidden' %}
						{% render 'svg', icon: 'pause', classes: 'w-1.5 h-1.5 fill-current hidden parent-active:block' %}
					</state>
				</div>
				<div>
					<p class="font-bold uppercase">
						{{- article.title -}}
					</p>
					{% if article.metafields.corail.author.value != blank %}
						<p class="text-xs uppercase -mt-1">By {{ article.metafields.corail.author.value }}</p>
					{% endif %}
				</div>
				<div class="ml-auto flex items-center text-xs">
					<current-time style="font-variant-numeric: tabular-nums;">00:00</current-time>/<duration style="font-variant-numeric: tabular-nums;">00:00</duration>
				</div>
			</div>

			<div class="absolute bottom-0 inset-x-0 w-full h-1 z-2">
				<tracking class="origin-left block absolute transition-transform duration-500 ease-linear inset-0 w-full h-full bg-gray-very-dark" style="transform: scaleX(0)"></tracking>
			</div>

			<button type="button" class="absolute inset-0 z-3 w-full h-full"></button>
		</article-video>

		<script src="{{ 'article-video.js' | asset_url }}" defer="defer"></script>
	{% else %}
		<article class="article-card relative">

			<a
				href="{{ article.url }}"
				class="relative h-[25.5rem] lg:h-[30.5rem] bg-orange-grayish text-white flex after:h-[10.625rem] lg:after:h-[18.375rem] after:w-full after:absolute after:z-10 after:inset-x-0 after:bottom-0 after:from-black after:bg-gradient-to-t"
			>
				{%- if article.image -%}
					<img
						srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
						{%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
						{%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
						{%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
						{%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
						{%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
						{{ article.image.src | image_url }} {{ article.image.src.width }}w"
						src="{{ article.image.src | image_url: width: 533 }}"
						sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
						alt="{{ article.image.src.alt | escape }}"
						class="absolute inset-0 z-0 w-full h-full object-cover object-center"
						loading="lazy"
						width="{{ article.image.width }}"
						height="{{ article.image.height }}"
					>
				{% endif %}

				<div class="relative z-20 p-5 lg:p-8 mt-auto mr-16 lg:mr-0">
					<h2 class="font-medium text-xl leading-6 lg:text-3xl lg:leading-8 font-display">{{- article.title | escape -}}</h2>
					<div class="uppercase text-orange-grayish text-sm lg:text-xs mt-2.5 lg:mt-1">{{- article.published_at | time_tag: format: 'date' -}}</div>
				</div>

			</a>

			{% if article.tags %}
				<footer class="border-t mt-5 lg:mt-4 border-orange-grayish pt-3 text-sm leading-4 uppercase">
					{{ article.tags | join: ' / ' }}
				</footer>
			{% endif %}

			<a class="absolute inset-0 w-full h-full z-1 block" href="{{ article.url }}"></a>
		</article>
	{% endif %}
{% endif %}
