{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
    - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.

    Usage:
    {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
	<article class="article-card relative">

		<a href="{{ article.url }}" class="relative h-[30.5rem] text-white flex after:h-[18.375rem] after:w-full after:absolute after:z-10 after:inset-x-0 after:bottom-0 after:from-black after:bg-gradient-to-t">
			{%- if article.image -%}
				<img
					srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
					{%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
					{%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
					{%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
					{%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
					{%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
					{{ article.image.src | image_url }} {{ article.image.src.width }}w"
					src="{{ article.image.src | image_url: width: 533 }}"
					sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
					alt="{{ article.image.src.alt | escape }}"
					class="absolute inset-0 z-0 w-full h-full object-cover object-center"
					loading="lazy"
					width="{{ article.image.width }}"
					height="{{ article.image.height }}"
				>
			{% endif %}

			<div class="relative z-20 p-8 mt-auto">
				<h2 class="font-medium text-3xl leading-8 font-display">{{- article.title | escape -}}</h2>
				<div class="uppercase text-orange-grayish text-xs mt-1">{{- article.published_at | time_tag: format: 'date' -}}</div>
			</div>

		</a>

		{% if article.tags %}
			<footer class="border-t mt-4 border-orange-grayish pt-3 text-sm leading-4 uppercase">
				{{ article.tags | join: ' / ' }}
			</footer>
		{% endif %}

		<a class="absolute inset-0 w-full h-full z-1 block" href="{{ article.url }}"></a>
	</article>
{% endif %}
