{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false
  - classes: {String} Classes
  - size: {String} Size of the product card. Values are "small" and "large". Default is "small" (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{% comment %} {{ 'component-rating.css' | asset_url | stylesheet_tag }} {% endcomment %}

{% liquid
	assign card_product = card_product | default: null
	assign classes = classes | default: ''
	assign media_aspect_ratio = media_aspect_ratio | default: 'square'
	assign section_id = section_id | default: ''
	assign size = size | default: 'small'
	assign show_secondary_image = show_secondary_image | default: false

%}

{%- if card_product and card_product != empty -%}
  	{%- liquid
    	assign ratio = 1

    	if card_product.featured_media and media_aspect_ratio == 'portrait'
      		assign ratio = 0.8
    	elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      		assign ratio = card_product.featured_media.aspect_ratio
    	endif

		if ratio == 0 or ratio == nil
      		assign ratio = 1
    	endif
	-%}

	<article class="relative flex flex-col justify-between h-full {% if card_product.media[1] != nil and show_secondary_image %} group {% endif %} {{ classes }}">

		<div class="relative h-[16.875rem] bg-gray-very-light mb-2.5 lg:mb-0 {% if 'large' == size %} lg:h-[38rem] {% else %} lg:h-[28rem] {% endif %}">
			{%- if card_product.featured_media -%}

				{{-
					card_product.featured_media
						| image_url: width: 912
						| image_tag:
							width: card_product.featured_media.width,
							height: card_product.featured_media.height,
							class: 'w-full h-full object-cover object-center opacity-100 duration-1000 ease-in-out transition-opacity group-hover:opacity-0',
							widths: '320, 676, 912',
							sizes: '(min-width: 1024px) 50vw, 25vw',
							loading: 'lazy',
							alt: card_product.featured_media.alt | default: card_product.title
				-}}


				{%- if card_product.media[1] != nil and show_secondary_image -%}
					{% if 'video' == card_product.media[1].media_type %}
						<video
							class="absolute inset-0 w-full h-full object-cover object-center opacity-0 duration-1000 ease-in-out transition-opacity group-hover:opacity-100"
							autoplay
							loop
							muted
							playsinline
							poster="{{ card_product.media[1].preview_image | image_url }}"
						>
							{%- for source in card_product.media[1].sources -%}
								<source src="{{ source.url }}" type="{{ source.mime_type }}">
							{%- endfor -%}
						</video>
					{%- else -%}
						{{- card_product.media[1] | image_url: width: 912 | image_tag:
							loading: 'lazy',
							width: card_product.media[1].width,
							height: card_product.media[1].height,
							class: 'absolute inset-0 w-full h-full object-cover object-center opacity-0 duration-1000 ease-in-out transition-opacity group-hover:opacity-100',
							widths: '320, 676, 912',
							sizes: '(min-width: 1024px) 50vw, 25vw',
							alt: card_product.media[1].alt | default: card_product.title
						-}}
					{%- endif -%}
				{%- endif -%}

			{%- endif -%}

			<div class="absolute top-0 right-0 m-2.5 lg:m-5 z-1">
				{% unless card_product.available %}
					<div class="py-2 px-5 rounded-full uppercase text-white bg-red-very-light text-xs">
						{{ 'products.product.sold_out' | t }}
					</div>
				{% else %}
					{% if card_product.compare_at_price > card_product.price %}
						<div class="py-2 px-5 rounded-full uppercase text-white bg-red-very-light text-xs">
							{{ 'products.product.on_sale' | t }}
						</div>
					{% elsif card_product.tags contains 'preorder' %}
						<div class="py-2 px-5 rounded-full uppercase text-white bg-red-very-light text-xs">
							{{ 'products.product.preorder' | t }}
						</div>
					{% elsif card_product.tags contains 'new' %}
						<div class="py-2 px-5 rounded-full uppercase text-white bg-red-very-light text-xs">
							{{ 'products.product.new' | t }}
						</div>
					{% endif %}
				{% endunless %}
			</div>

			{%- unless card_product.has_only_default_variant -%}
				<div class="space-y-2 absolute bottom-0 inset-x-0 m-5 z-1 hidden lg:block">
					{%- for option in card_product.options_with_values -%}
						{% if option.name == 'Taille' or 'pointure' == option.name or 'Pointures' == option.name %}

							{%- liquid
								assign variants_available_arr = card_product.variants | map: 'available'
								assign variants_option1_arr = card_product.variants | map: 'option1'
								assign variants_option2_arr = card_product.variants | map: 'option2'
								assign variants_option3_arr = card_product.variants | map: 'option3'
							-%}

							<div class="flex flex-wrap gap-2">
								{%- for value in option.values -%}

									{%- liquid
										assign option_disabled = true

										for option1_name in variants_option1_arr
											case option.position
												when 1
													if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
														assign option_disabled = false
													endif
												when 2
													if option1_name == card_product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
														assign option_disabled = false
													endif
												when 3
													if option1_name == card_product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == card_product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
														assign option_disabled = false
													endif
											endcase
										endfor
									-%}

									{% if option_disabled == false %}
										<div class="py-[0.3125rem] text-sm px-2.5 bg-gray-very-light">{{- value -}}</div>
									{% endif %}
								{%- endfor -%}
							</div>
						{%- endif -%}
					{%- endfor -%}
				</div>
			{%- endunless -%}
		</div>

		{%- unless card_product.has_only_default_variant -%}
			<div class="space-y-2 lg:hidden mb-2.5">
				{%- for option in card_product.options_with_values -%}
					{%- if option.name == 'Taille' or 'pointure' == option.name -%}

						{%- liquid
							assign variants_available_arr = card_product.variants | map: 'available'
							assign variants_option1_arr = card_product.variants | map: 'option1'
							assign variants_option2_arr = card_product.variants | map: 'option2'
							assign variants_option3_arr = card_product.variants | map: 'option3'
						-%}

						<div class="flex flex-wrap gap-2">
							{%- for value in option.values -%}

								{%- liquid
									assign option_disabled = true

									for option1_name in variants_option1_arr
										case option.position
											when 1
												if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
													assign option_disabled = false
												endif
											when 2
												if option1_name == card_product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
													assign option_disabled = false
												endif
											when 3
												if option1_name == card_product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == card_product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
													assign option_disabled = false
												endif
										endcase
									endfor
								-%}

								{% if option_disabled == false %}
									<div class="py-[0.3125rem] text-[0.5rem] px-1.5 bg-gray-very-light">{{- value -}}</div>
								{% endif %}
							{%- endfor -%}
						</div>
					{%- endif -%}
				{%- endfor -%}
			</div>
		{%- endunless -%}

		<footer class="border-t mt-auto lg:mt-4 border-orange-grayish pt-1.5 lg:pt-3 text-[0.5rem] lg:text-sm leading-none lg:leading-4 uppercase">
			<div class="flex justify-between">
				<h3 {% if card_product.featured_media == nil and settings.card_style == 'standard' %} id="title-{{ section_id }}-{{ card_product.id }}" {% endif %} class="flex-shrink-0">
					{{- card_product.title -}}
				</h3>
				{%- render 'price', product: card_product, price_class: 'text-right' -%}
			</div>
		</footer>

		<a
			class="absolute inset-0 w-full h-full z-1 block"
			href="{{ card_product.url }}"
			id="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }}"
			aria-labelledby="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }} NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
			aria-label="{{ card_product.title | strip_html | escape }}"
		></a>
	</article>
{%- endif -%}
