{% comment %}
    Renders facets (filtering and sorting)

    Accepts:
    - results: {Object} Collection or Search object
    - enable_filtering: {Boolean} Show filtering when true
    - enable_sorting: {Boolean} Show sorting when true
    - filter_type: {String} Type of filter

    Usage:
    {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical' %}
{% endcomment %}

{%- liquid
	assign sort_by = results.sort_by | default: results.default_sort_by
  	assign total_active_values = 0

	if results.url
    	assign results_url = results.url
  	else
    	assign terms = results.terms | escape
    	assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  	endif
-%}

<div class="facets-container {% if filter_type == 'drawer' %} facets-container-drawer {% endif %}">

	<div class="row">

		<div
			class="product-count lg:hidden"
			role="status"
		>
			<h2 class="product-count__text">
				<span id="ProductCount">
					{%- if results.results_count -%}
					{{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
					{%- elsif results.products_count == results.all_products_count -%}
					{{ 'products.facets.product_count_simple' | t: count: results.products_count }}
					{%- else -%}
					{{ 'products.facets.product_count' | t: product_count: results.products_count, count: results.all_products_count }}
					{%- endif -%}
				</span>
			</h2>
			<div class="loading-overlay__spinner js-loading-overlay-spinner">
				<svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
					<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
				</svg>
			</div>
		</div>

		<div class="hidden lg:col-10/12 active-facets active-facets-mobile lg:flex gap-2 flex-wrap">

			{%- for filter in results.filters -%}
				{%- for value in filter.active_values -%}
					<facet-remove>
						<a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light button-secondary button-gray inline-flex items-center">
							{{ filter.label }}: {{ value.label | escape }}
							{%- render 'svg', icon: 'close', classes: 'w-3 h-3 fill-current ml-2' -%}
							<span class="sr-only">{{ 'products.facets.clear_filter' | t }}</span>
						</a>
					</facet-remove>
				{%- endfor -%}

				{%- if filter.type == "price_range" -%}
					{%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
					<facet-remove>
						<a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light button-secondary button-gray inline-flex items-center">

							{%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}
							{%- render 'svg', icon: 'close', classes: 'w-3 h-3 fill-current ml-2' -%}
							<span class="sr-only">{{ 'products.facets.clear_filter' | t }}</span>
						</a>
					</facet-remove>
					{%- endif -%}
				{%- endif -%}
			{%- endfor -%}

			<facet-remove>
				<a href="{{ results_url }}" class="button-secondary button-gray inline-block align-middle">
					{{- 'products.facets.clear_all' | t -}}
				</a>
			</facet-remove>

		</div>

		<div class="lg:col-2/12 flex justify-end">
			<menu-drawer class="js-facets-wrapper">
				<details class="mobile-facets__disclosure disclosure-has-popup">
					<summary class="focus-offset before:!h-screen before:!z-3">
						<span class="js-facets-open button button-red inline-flex items-center {% if filter_type == 'drawer' and enable_filtering == false %} medium-hide large-up-hide {% endif %}">
							{% render 'svg', icon: 'filter', classes: 'w-3 h-3 fill-current mr-2' %}
							<span class="mobile-facets__open-label button-label medium-hide large-up-hide">
								{%- if enable_filtering and enable_sorting -%}
									{{ 'products.facets.filter_and_sort' | t }}
								{%- elsif enable_filtering -%}
									{{ 'products.facets.filter_button' | t }}
								{%- elsif enable_sorting -%}
									{{ 'products.facets.sort_button' | t }}
								{%- endif -%}
							</span>

							{%- if enable_filtering -%}
								<span class="mobile-facets__open-label button-label small-hide">
									{{ 'products.facets.filter_button' | t }}
								</span>
							{%- endif -%}
						</span>
					</summary>
					<facet-filters-form>
						<form id="FacetFiltersFormMobile" class="mobile-facets bg-gray-very-dark/50">
							<div class="mobile-facets__inner ml-auto h-full overflow-y-auto flex flex-col bg-white pointer-events-auto border-orange-grayish border-l-[0.0625rem]">

								<div class="sticky z-2 top-0 inset-x-0 flex px-5 py-[1.1875rem] items-center">
									<h2 class="font-bold font-display text-xl uppercase leading-8">
										{%- if enable_filtering and enable_sorting -%}
											{{ 'products.facets.filter_and_sort' | t }}
										{%- elsif enable_filtering -%}
											{{ 'products.facets.filter_button' | t }}
										{%- elsif enable_sorting -%}
											{{ 'products.facets.sort_button' | t }}
										{%- endif -%}
									</h2>

									<p class="js-facets-count ml-auto text-right text-sm text-gray-dark">
										{%- if results.results_count -%}
											{{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
										{%- elsif results.products_count == results.all_products_count -%}
											{{ 'products.facets.product_count_simple' | t: count: results.products_count }}
										{%- else -%}
											{{ 'products.facets.product_count' | t: product_count: results.products_count, count: results.all_products_count }}
										{%- endif -%}
									</p>

									<hr class="absolute inset-x-0 bg-orange-grayish w-full h-[0.0625rem] bottom-0">
								</div>

								<div class="has-submenu relative z-1 overflow-y-auto flex-grow flex flex-col">

									{%- if enable_filtering and results.filters != empty -%}
										<div class="space-y-5 p-5">
											{%- for filter in results.filters -%}
												{% case filter.type %}
													{% when 'boolean' or 'list' %}
														<details
															id="Details-Mobile-{{ forloop.index }}-{{ section.id }}"
															class="mobile-facets__details js-filter"
															data-index="mobile-{{ forloop.index }}"
														>

															<summary class="uppercase font-bold font-display leading-7 flex items-center">
																{{ filter.label | escape }}
																{% render 'svg', icon: 'chevron-right', classes: 'ml-2.5 h-2.5 w-2.5 fill-current' %}
															</summary>

															<div id="FacetMobile-{{ forloop.index }}-{{ section.id }}" class="mobile-facets__submenu bg-white">
																<button class="p-5 uppercase font-bold flex font-display leading-7 items-center border-b-[0.0625rem] border-orange-grayish" aria-expanded="true" type="button">
																	{% render 'svg', icon: 'chevron-left', classes: 'mr-2.5 h-2.5 w-2.5 fill-current' %}
																	{{ filter.label | escape }}
																</button>

																<ul class="overflow-y-auto" role="list">
																	{%- for value in filter.values -%}

																		<li class="mobile-facets__item list-menu__item">
																			<label
																				for="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
																				class="transition-colors ease-in-out duration-1000 break-words flex p-5 w-full is-disabled:cursor-not-allowed is-disabled:opacity-50 {% if value.count == 0 and value.active == false %} disabled {% endif %}"
																			>
																				<input
																					class="mobile-facets__checkbox peer"
																					type="checkbox" name="{{ value.param_name }}"
																					value="{{ value.value }}"
																					id="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
																					{% if value.active %}checked{% endif %}
																					{% if value.count == 0 and value.active == false %}disabled{% endif %}
																				>

																				<span class="absolute block inset-0 w-full h-full peer-checked:bg-gray-very-light z-2"></span>

																				{% render 'svg', icon: 'square', classes: 'fill-current w-7 h-7 relative z-3 mr-3' %}
																				{% render 'svg', icon: 'check', classes: 'm-[1.625rem] peer-checked:opacity-100 opacity-0 w-4 h-4 fill-current z-3 absolute inset-y-0 left-0' %}

																				{% comment %} <svg class="icon icon-checkmark" width="1.1rem" height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
																					<path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
																				</svg> {% endcomment %}

																				<span aria-hidden="true" class="relative z-3">{{ value.label | escape }} ({{ value.count }})</span>
																				<span class="sr-only">{{ value.label | escape }} ({% if value.count == '1' %}{{ 'products.facets.product_count_simple.one' | t: count: value.count }}{% else %}{{ 'products.facets.product_count_simple.other' | t: count: value.count }}{% endif %})</span>
																			</label>
																		</li>
																	{%- endfor -%}
																</ul>

															</div>
														</details>
													{% when 'price_range' %}
														<details
															id="Details-Mobile-{{ forloop.index }}-{{ section.id }}"
															class="mobile-facets__details js-filter"
															data-index="mobile-{{ forloop.index }}"
														>
															<summary class="uppercase font-bold font-display leading-7 flex items-center">
																{{ filter.label | escape }}
																{% render 'svg', icon: 'chevron-right', classes: 'w-2.5 h-2.5 ml-2.5' %}
															</summary>
															<div id="FacetMobile-{{ forloop.index }}-{{ section.id }}" class="mobile-facets__submenu bg-white">
																<button class="p-5 uppercase font-bold flex font-display leading-7 items-center border-b-[0.0625rem] border-orange-grayish" aria-expanded="true" type="button">
																	{% render 'svg', icon: 'chevron-left', classes: 'w-2.5 h-2.5 mr-2.5' %}
																	{{ filter.label | escape }}
																</button>

																{%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
																<p class="mobile-facets__info">{{ "products.facets.max_price" | t: price: max_price_amount }}</p>

																<price-range class="facets__price">
																	<span class="field-currency">{{ cart.currency.symbol }}</span>
																	<div class="field">
																		<input class="field__input"
																		name="{{ filter.min_value.param_name }}"
																		id="Mobile-Filter-{{ filter.label | escape }}-GTE"
																		{%- if filter.min_value.value -%}
																			{%- if uses_comma_decimals -%}value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
																		{%- endif %}
																		type="number"
																		placeholder="0"
																		min="0"
																		inputmode="decimal"
																		{% if uses_comma_decimals %}
																			max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
																		{% else %}
																			max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
																		{% endif %}
																		>
																		<label class="field__label" for="Mobile-Filter-{{ filter.label | escape }}-GTE">{{ 'products.facets.from' | t }}</label>
																	</div>

																	<span class="field-currency">{{ cart.currency.symbol }}</span>
																	<div class="field">
																		<input class="field__input"
																		name="{{ filter.max_value.param_name }}"
																		id="Mobile-Filter-{{ filter.label | escape }}-LTE"
																		{%- if filter.max_value.value -%}
																			{%- if uses_comma_decimals -%}value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
																		{%- endif %}
																		type="number"
																		min="0"
																		inputmode="decimal"
																		{% if uses_comma_decimals %}
																			placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
																			max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
																		{% else %}
																			placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
																			max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
																		{% endif %}
																		>
																		<label class="field__label" for="Mobile-Filter-{{ filter.label | escape }}-LTE">{{ 'products.facets.to' | t }}</label>
																	</div>
																</price-range>
															</div>
														</details>
												{% endcase %}
											{%- endfor -%}
										</div>
									{%- endif -%}

									{%- if enable_sorting -%}
										{% if results.filters != empty %}<hr class="w-full h-[0.0625rem] block bg-orange-grayish">{% endif %}
										<div class="mobile-facets__details js-filter p-5" data-index="mobile-{{ forloop.index }}">
											<div class="mobile-facets__summary">
												<div class="mobile-facets__sort">
													<label for="SortBy-mobile" class="uppercase font-bold font-display leading-7">
														{{ 'products.facets.sort_by_label' | t }}
													</label>
													<div class="select">
														<select name="sort_by" class="select__select" id="SortBy-mobile" aria-describedby="a11y-refresh-page-message">
															{%- for option in results.sort_options -%}
																<option
																	value="{{ option.value | escape }}"
																	{% if option.value == sort_by %} selected="selected" {% endif %}
																>
																	{{- option.name | escape -}}
																</option>
															{%- endfor -%}
														</select>
														{% render 'icon-caret' %}
													</div>
												</div>
											</div>
										</div>
									{%- endif -%}

								</div>

								<footer class="px-5 py-[0.6875rem] relative flex gap-2.5 flex-wrap">
									<hr class="w-full h-[0.0625rem] absolute top-0 inset-x-0 block bg-orange-grayish">
									<button
										type="button" class="button button-red"
										onclick="this.closest('.js-facets-wrapper').querySelector('summary').click()"
									>
										{{ 'products.facets.apply' | t }}
									</button>
									<facet-remove>
										<a
											href="{{ results_url }}"
											class="disabled:opacity-50 inline-block align-middle button-secondary button-gray disabled:cursor-not-allowed"
										>
											{{ 'products.facets.clear_all' | t }}
										</a>
									</facet-remove>
								</footer>

								{% if results.current_vendor or results.current_type %}
									<input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
								{% endif %}

								{%- if results.terms -%}
									<input type="hidden" name="q" value="{{ results.terms | escape }}">
									<input name="options[prefix]" type="hidden" value="last">
								{%- endif -%}
							</div>
						</form>
					</facet-filters-form>
				</details>
			</menu-drawer>
		</div>
	</div>
</div>
