<header-drawer data-breakpoint="tablet">
	<details id="Details-menu-drawer-container" class="lg:hidden">
		<summary
			class="expanded:bg-gray-very-dark py-[1.375rem] px-6 expanded:text-white"
			aria-label="{{ 'sections.header.menu' | t }}"
		>
			{% render 'svg', icon: 'bars', classes: 'parent-expanded:hidden block h-5 w-4 fill-current', description: shop.name %}
			{% render 'svg', icon: 'close', classes: 'parent-expanded:block hidden h-5 w-4 fill-current', description: shop.name %}
		</summary>
		<div id="menu-drawer" class="menu-drawer w-full bg-white text-gray-very-dark" tabindex="-1">
			<div class="menu-drawer__inner-container">
				<div class="h-full flex flex-col justify-between overflow-y-auto">
					<nav class="menu-drawer__navigation p-5 h-full">
						<ul class="menu-drawer__menu has-submenu list-none space-y-4 flex flex-col h-full" role="list">
							{%- for link in section.settings.menu.links -%}
								<li>

									{%- if link.links != blank and link.title != '#' -%}
										<details id="Details-menu-drawer-menu-item-{{ forloop.index }}">

											<summary class="uppercase font-bold font-display leading-7 flex items-center {% if link.child_active %} is-active {% endif %}">
												{{ link.title }}
												{% render 'svg', icon: 'chevron-right', classes: 'ml-2.5 w-2.5 h-2.5' %}
											</summary>

											<div id="link-{{ link.handle | escape }}" class="menu-drawer__submenu has-submenu absolute inset-y-0 left-0 w-full bg-white z-1" tabindex="-1">
												<div class="h-full overflow-x-hidden overflow-y-auto">
													<button class="flex items-center px-5 py-4 uppercase font-bold font-display text-xl w-full border-b border-orange-grayish text-left" aria-expanded="true">
														{% render 'svg', icon: 'chevron-left', classes: 'w-5 h-5 mr-5' %}
														{{ link.title | escape }}
													</button>

													<ul class="menu-drawer__menu list-none px-5 py-4" role="list" tabindex="-1">

														{%- for childlink in link.links -%}

															{% if childlink.title == '#' and childlink.url == '#' and childlink.links != 'blank' %}
																{% for grandchildlink in childlink.links %}
																	<li data-type="{{ link.type }}">
																		<a class="font-display leading-8" href="{{ grandchildlink.url }}">
																			{{ grandchildlink.title }}
																		</a>
																	</li>
																{% endfor %}
															{% else %}
																<li>

																	{%- if childlink.links == blank -%}
																		<a href="{{ childlink.url }}" class="menu-drawer__menu-item {% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
																			{{ childlink.title | escape }}
																		</a>
																	{%- else -%}
																		<details id="Details-menu-drawer-submenu-{{ forloop.index }}" class="my-4">

																			<summary class="font-display font-bold uppercase flex items-center leading-8">
																				{{- childlink.title | escape -}}
																				{%- render 'svg', icon: 'chevron-right', classes: 'ml-2.5 w-2.5 h-2.5' -%}
																			</summary>

																			<div
																				id="childlink-{{ link.handle }}-{{ childlink.handle | escape }}-{{ forloop.index }}"
																				class="menu-drawer__submenu has-submenu absolute inset-y-0 left-0 w-full bg-white z-1"
																			>

																				<button class="flex items-center px-5 py-4 uppercase font-bold font-display text-xl w-full border-b border-orange-grayish text-left" aria-expanded="true">
																					{% render 'svg', icon: 'chevron-left', classes: 'w-5 h-5 mr-5' %}
																					{{ link.title | escape }}&nbsp;/&nbsp;{{ childlink.title | escape }}
																				</button>

																				<ul class="list-none px-5 py-4" role="list" tabindex="-1">
																					{%- for grandchildlink in childlink.links -%}
																						<li>
																							{% if grandchildlink.title contains '[all]' %}
																								<div class="mt-5 text-center">
																									<a
																										href="{{ grandchildlink.url }}"
																										class="button button-gray inline-block align-middle"
																										{% if grandchildlink.current %} aria-current="page"{% endif %}
																									>
																										&rightarrow;&nbsp;{{ grandchildlink.title | replace: ' [all]', '' | strip | escape }}
																									</a>
																								</div>
																							{% else %}
																								<a
																									href="{{ grandchildlink.url }}"
																									class="is-active:underline hover:underline font-display leading-8 {% if grandchildlink.current %} is-active {% endif %}"
																									{% if grandchildlink.current %} aria-current="page"{% endif %}
																								>
																									{{ grandchildlink.title | replace: ' [new]', '' | strip | escape }}
																								</a>
																								{% if grandchildlink.title contains '[new]' %}
																									<sup class="text-xs text-red-very-light">{{ 'products.product.new' | t }}</sup>
																								{% endif %}
																							{% endif %}
																						</li>
																					{%- endfor -%}
																				</ul>
																			</div>
																		</details>
																	{%- endif -%}
																</li>
															{% endif %}

														{%- endfor -%}
													</ul>
												</div>
											</div>
										</details>
									{%- else -%}
										<a
											href="{{ link.url }}"
											class="uppercase font-bold font-display leading-7 {% if link.current %} is-active {% endif %}"
											{% if link.current %} aria-current="page" {% endif %}
										>
											{{ link.title | escape }}
										</a>
									{%- endif -%}
								</li>
							{%- endfor -%}

							{%- for link in section.settings.secondary-menu.links -%}
								{% if link.links != blank %}
										<details class="!mt-auto" id="Details-HeaderSecondaryMenu-{{ forloop.index }}">

											<summary class="uppercase font-bold font-display leading-7 flex items-center {% if link.child_active %} is-active {% endif %}">
												{{ link.title | escape }}
												{% render 'svg', icon: 'chevron-right', classes: 'ml-2.5 w-2.5 h-2.5' %}
											</summary>

											<div id="link-{{ link.handle | escape }}" class="menu-drawer__submenu has-submenu absolute inset-y-0 left-0 w-full bg-white z-1" tabindex="-1">

												<div class="h-full overflow-x-hidden overflow-y-auto">
													<button class="flex items-center px-5 py-4 uppercase font-bold font-display text-xl w-full border-b border-orange-grayish text-left" aria-expanded="true">
														{% render 'svg', icon: 'chevron-left', classes: 'w-5 h-5 mr-5' %}
														{{ link.title | escape }}
													</button>

													<ul class="menu-drawer__menu list-none px-5 py-4" role="list" tabindex="-1">
														{%- for childlink in link.links -%}
															{% if childlink.title == '#' and childlink.url == '#' and childlink.links != 'blank' %}
																{% for grandchildlink in childlink.links %}
																	<li>
																		<a class="font-display leading-8" href="{{ grandchildlink.url }}">
																			{{ grandchildlink.title }}
																		</a>
																	</li>
																{% endfor %}
															{% else %}
																<li>

																	{%- if childlink.links == blank -%}
																		<a href="{{ childlink.url }}" class="menu-drawer__menu-item {% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
																			{{ childlink.title | escape }}
																		</a>
																	{%- else -%}
																		<details id="Details-menu-drawer-submenu-{{ forloop.index }}" class="my-4">

																			<summary class="font-display font-bold uppercase flex items-center leading-8">
																				{{ childlink.title | escape }}{% render 'svg', icon: 'chevron-right', classes: 'ml-2.5 w-2.5 h-2.5' %}
																			</summary>

																			<div
																				id="childlink--{{ link.handle }}-{{ childlink.handle | escape }}-{{ forloop.index }}"
																				class="menu-drawer__submenu has-submenu absolute inset-y-0 left-0 w-full bg-white z-1"
																			>

																				<button class="flex items-center px-5 py-4 uppercase font-bold font-display text-xl w-full border-b border-orange-grayish text-left" aria-expanded="true">
																					{% render 'svg', icon: 'chevron-left', classes: 'w-5 h-5 mr-5' %}
																					{{ link.title | escape }}&nbsp;/&nbsp;{{ childlink.title | escape }}
																				</button>

																				<ul class="list-none px-5 py-4" role="list" tabindex="-1">
																					{%- for grandchildlink in childlink.links -%}
																						<li>
																							{% if grandchildlink.title contains '[all]' %}
																								<div class="mt-5 text-center">
																									<a
																										href="{{ grandchildlink.url }}"
																										class="button button-gray inline-block align-middle"
																										{% if grandchildlink.current %} aria-current="page"{% endif %}
																									>
																										&rightarrow;&nbsp;{{ grandchildlink.title | replace: ' [all]', '' | strip | escape }}
																									</a>
																								</div>
																							{% else %}
																								<a
																									href="{{ grandchildlink.url }}"
																									class="is-active:underline font-display leading-8 {% if grandchildlink.current %} is-active {% endif %}"
																									{% if grandchildlink.current %} aria-current="page" {% endif %}
																								>
																									{% if grandchildlink.title contains '[icon-mail] ' %}
																										<a href="{{ grandchildlink.url }}" class="py-1 flex items-center hover:underline">
																											{% render 'svg', icon: 'mail', classes: 'w-5 h-5 mr-2' %}
																											{{ grandchildlink.title | replace: '[icon-mail] ', '' | escape }}
																										</a>
																									{% elsif grandchildlink.title contains '[icon-at] ' %}
																										<a href="{{ grandchildlink.url }}" class="py-1 flex items-center hover:underline">
																											{% render 'svg', icon: 'at', classes: 'w-5 h-5 mr-2' %}
																											{{ grandchildlink.title | replace: '[icon-at] ', '' | escape }}
																										</a>
																									{% elsif grandchildlink.title contains '[icon-account] ' %}
																										<a href="{{ grandchildlink.url }}" class="py-1 flex items-center hover:underline">
																											{% render 'svg', icon: 'account', classes: 'w-5 h-5 mr-2' %}
																											{{ grandchildlink.title | replace: '[icon-account] ', '' | escape }}
																										</a>
																									{% elsif grandchildlink.title contains '[new]' %}
																										<a href="{{ grandchildlink.url }}" class="py-1 hover:underline is-active:underline {% if grandchildlink.current %} is-active {% endif %}">
																											{{- grandchildlink.title | replace: ' [new]', '' | strip | escape -}}
																										</a>
																										{% if grandchildlink.title contains '[new]' %}
																											<sup class="text-xs text-red-very-light">{{ 'products.product.new' | t }}</sup>
																										{% endif %}
																									{% else %}
																										<a
																											href="{{ grandchildlink.url }}"
																											class="py-1 inline-block align-middle hover:underline is-active:underline {% if grandchildlink.current %} is-active {% endif %}"
																											{% if grandchildlink.current %} aria-current="page" {% endif %}
																										>
																											{{ grandchildlink.title | escape }}
																										</a>
																									{% endif %}

																								</a>
																							{% endif %}
																						</li>
																					{%- endfor -%}
																				</ul>
																			</div>
																		</details>
																	{%- endif -%}
																</li>
															{% endif %}
														{%- endfor -%}
													</ul>
												</div>

											</div>
										</details>
								{% else %}
									<a
										href="{{ link.url }}"
										class="uppercase font-bold font-display leading-7 {% if link.current %} is-active {% endif %}"
										 {% if link.current %} aria-current="page" {% endif %}
										>
										{{ link.title | escape }}
									</a>
								{% endif %}
							{% endfor %}

						</ul>
					</nav>

					<div class="p-5 py-[1.4375rem] relative">
						<hr class="w-full h-[0.0625rem] absolute top-0 inset-x-0 block bg-orange-grayish"/>
						{%- if shop.customer_accounts_enabled -%}
							<a
								href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
								class="flex font-display"
							>
								{% render 'svg', icon: 'account', classes: 'mr-5 w-5 h-5' %}
								{%- liquid
									if customer
										echo 'customer.account_fallback' | t
									else
										echo 'customer.log_in' | t
									endif
								-%}
							</a>
						{%- endif -%}
					</div>
				</div>
			</div>
		</div>
	</details>
</header-drawer>
