{%- for link in links -%}
	<li>

		{%- if link.links != blank and link.title != '#' -%}
			<details id="Details-menu-drawer-menu-item-{{ forloop.index }}">

				<summary class="uppercase font-bold font-display leading-7 flex items-center {% if link.child_active %} is-active {% endif %}">
					{{ link.title }}
					{% render 'svg', icon: 'chevron-right', classes: 'ml-2.5 w-2.5 h-2.5' %}
				</summary>

				<div id="link-{{ link.handle | escape }}" class="menu-drawer__submenu has-submenu absolute inset-y-0 left-0 w-full bg-white z-1" tabindex="-1">
					<div class="h-full overflow-x-hidden overflow-y-auto">
						<button class="flex items-center px-5 py-4 uppercase font-bold font-display text-xl w-full border-b border-orange-grayish text-left" aria-expanded="true">
							{% render 'svg', icon: 'chevron-left', classes: 'w-5 h-5 mr-5' %}
							{{ link.title | escape }}
						</button>

						<ul class="menu-drawer__menu list-none px-5 py-4" role="list" tabindex="-1">
							{%- for childlink in link.links -%}

								{% if childlink.title == '#' and childlink.url == '#' and childlink.links != 'blank' %}
									{% for grandchildlink in childlink.links %}
										<li data-type="{{ link.type }}">
											<a class="font-display leading-8" href="{{ grandchildlink.url }}">
												{{ grandchildlink.title }}
											</a>
										</li>
									{% endfor %}
								{% else %}
									<li>

										{%- if childlink.links == blank -%}
											<a href="{{ childlink.url }}" class="menu-drawer__menu-item {% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
												{{ childlink.title | escape }}
											</a>
										{%- else -%}
											<details id="Details-menu-drawer-submenu-{{ forloop.index }}" class="my-4">

												<summary class="font-display font-bold uppercase flex items-center leading-8">
													{{- childlink.title | escape -}}
													{%- render 'svg', icon: 'chevron-right', classes: 'ml-2.5 w-2.5 h-2.5' -%}
												</summary>

												<div
													id="childlink-{{ link.handle }}-{{ childlink.handle | escape }}-{{ forloop.index }}"
													class="menu-drawer__submenu has-submenu absolute inset-y-0 left-0 w-full bg-white z-1"
												>

													<button class="flex items-center px-5 py-4 uppercase font-bold font-display text-xl w-full border-b border-orange-grayish text-left" aria-expanded="true">
														{% render 'svg', icon: 'chevron-left', classes: 'w-5 h-5 mr-5' %}
														{{ link.title | escape }}&nbsp;/&nbsp;{{ childlink.title | escape }}
													</button>

													<ul class="list-none px-5 py-4" role="list" tabindex="-1">
														{%- for grandchildlink in childlink.links -%}
															<li>
																{% if grandchildlink.title contains '[all]' %}
																	<div class="mt-5 text-center">
																		<a
																			href="{{ grandchildlink.url }}"
																			class="button button-gray inline-block align-middle"
																			{% if grandchildlink.current %} aria-current="page"{% endif %}
																		>
																			&rightarrow;&nbsp;{{ grandchildlink.title | replace: ' [all]', '' | strip | escape }}
																		</a>
																	</div>
																{% else %}
																	<a
																		href="{{ grandchildlink.url }}"
																		class="is-active:underline hover:underline font-display leading-8 {% if grandchildlink.current %} is-active {% endif %}"
																		{% if grandchildlink.current %} aria-current="page"{% endif %}
																	>
																		{{ grandchildlink.title | replace: ' [new]', '' | strip | escape }}
																	</a>
																	{% if grandchildlink.title contains '[new]' %}
																		<sup class="text-xs text-red-very-light">{{ 'products.product.new' | t }}</sup>
																	{% endif %}
																{% endif %}
															</li>
														{%- endfor -%}
													</ul>
												</div>
											</details>
										{%- endif -%}
									</li>
								{% endif %}

							{%- endfor -%}
						</ul>
					</div>
				</div>
			</details>
		{%- else -%}
			<a
				href="{{ link.url }}"
				class="uppercase font-bold font-display leading-7 {% if link.current %} is-active {% endif %}"
				{% if link.current %} aria-current="page" {% endif %}
			>
				{{ link.title | escape }}
			</a>
		{%- endif -%}
	</li>
{%- endfor -%}
