{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% comment %}
    Renders a product thumbnail with a modal-opener

    Accepts:
    - media: {Object} Product Media object
    - media_count: {Number} Number of media objects
    - position: {String} Position of the media. Used for accessible label.
    - desktop_layout: {String} Layout of the media for desktop.
    - mobile_layout: {String} Layout of the media for mobile.
    - loop: {Boolean} Enable video looping (optional)
    - modal_id: {String} The product modal that will be shown by clicking the thumbnail
    - xr_button: {Boolean} Renders the "View in your space" button (shopify-xr-button) if the media is a 3D Model
    - media_width: {Float} The width percentage that the media column occupies on desktop.
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'product-thumbnail',
      media: media,
      position: forloop.index,
      loop: section.settings.enable_video_looping,
      modal_id: section.id
    %}
{% endcomment %}

{%- liquid
	assign desktop_columns = 1
	assign lazy_load = lazy_load | default: true
	assign loop = loop | default: false
	assign media = media | default: nil
	assign mobile_columns = 1
	assign modal_id = modal_id | default: ''
	assign position = position | default: 0
	assign xr_button = xr_button | default: false

	unless lazy_load == false
		assign lazy = 'lazy'
	endunless

	if desktop_layout == 'columns' and media_count > 1
		assign desktop_columns = 2
	endif

	if mobile_layout == 'columns' and media_count > 1
		assign mobile_columns = 2
	endif
-%}

{%- capture sizes -%}
  	(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: media_width | divided_by: desktop_columns | round }}px, (min-width: 990px) calc({{ media_width | times: 100 | divided_by: desktop_columns }}vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / {{ mobile_columns }} - 4rem)
{%- endcapture -%}

<noscript>
	{%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
		<span class="product__media-icon motion-reduce quick-add-hidden">
			{% render 'svg', icon: 'play', classes: 'w-5 h-5 fill-current ml-1' %}
		</span>
		<div class="product__media media global-media-settings" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;">
			{{ media.preview_image | image_url: width: 1660 | image_tag:
				loading: lazy,
				sizes: sizes,
				widths: '320,640,830,1660',
				alt: media.preview_image.alt | escape
			}}
		</div>
		<a href="{% if media.media_type == 'video' %}{{ media.sources[1].url }}{% else %}{{ media | external_video_url }}{% endif %}" class="product__media-toggle">
			<span class="sr-only">{{ 'products.product.video_exit_message' | t: title: product.title | escape }}</span>
		</a>
	{%- else -%}
		<div class="product__media media global-media-settings" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;">
			{{ media.preview_image | image_url: width: 1660 | image_tag:
				loading: lazy,
				sizes: sizes,
				widths: '320,640,830,1660',
				alt: media.preview_image.alt | escape
			}}
		</div>
	{%- endif -%}
</noscript>

<modal-opener
	data-modal="#ProductModal-{{ modal_id }}"
	class="w-full h-full relative block lg:max-h-screen"
>
	<button
		type="button"
		class="w-12 h-12 flex items-center justify-center rounded-full border-[0.0625rem] border-orange-grayish bg-white absolute top-0 left-0 lg:left-auto lg:right-0 m-5 z-2"
		aria-haspopup="dialog"
		data-media-id="{{ media.id }}"
	>
		<span class="sr-only">{{- 'products.product.media.open_media' | t: index: position -}}</span>
		{%- liquid
			case media.media_type
				when 'video' or 'external_video'
					render 'svg', icon: 'play', classes: 'w-5 h-5 fill-current ml-1'
				when 'model'
					render 'icon-3d-model'
				else
					render 'svg', icon: 'magnifying-glass', classes: 'w-5 h-5 fill-current'
			endcase
		-%}
	</button>

	{{- media.preview_image
		| image_url: width: 830, height: 752
		| image_tag:
			loading: lazy,
			widths: '320,830',
			sizes: '(min-width: 1024px) 100vw, 60vw',
			class: 'absolute bg-orange-grayish inset-0 object-cover object-center w-full h-full',
			alt: media.preview_image.alt | escape
	-}}
</modal-opener>

{%- if media.media_type != 'image' -%}
	{%- if media.media_type == 'model' -%}
		<product-model class="deferred-media media media--transparent global-media-settings no-js-hidden" style="padding-top: 100%" data-media-id="{{ media.id }}">
	{%- else -%}
		<deferred-media class="deferred-media global-media-settings media no-js-hidden relative" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%" data-media-id="{{ media.id }}">
	{%- endif -%}

	<button id="Deferred-Poster-Modal-{{ media.id }}" class="absolute inset-0 w-full h-full deferred-media__poster" type="button">

		<span class="absolute text-white z-1 inset-0 lg:w-[3.625rem] lg:h-[4.75rem] m-auto w-8 h-9">
			{%- if media.media_type == 'model' -%}
				<span class="sr-only">{{ 'products.product.media.play_model' | t }}</span>
				{%- render 'icon-3d-model' -%}
			{%- else -%}
				<span class="sr-only">{{ 'products.product.media.play_video' | t }}</span>
				{% render 'svg', icon: 'play', classes: 'w-full h-full fill-current ml-1', description: shop.name %}
			{%- endif -%}
		</span>

		{{ media.preview_image | image_url: width: 1660 | image_tag:
			loading: lazy,
			sizes: sizes,
			widths: '320,640,830,1660',
			class: 'h-full w-full object-cover object-center bg-orange-grayish',
			alt: media.preview_image.alt | escape
		}}
  	</button>

	<template>
		{%- liquid
			case media.media_type
				when 'external_video'
					assign video_class = 'js-' | append: media.host
					if media.host == 'youtube'
						echo media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy"
					else
						echo media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy", class: 'absolute inset-0 w-full h-full object-cover object-center'
					endif
				when 'video'
					echo media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: "none", class: 'absolute inset-0 w-full h-full object-cover object-center'
				when 'model'
					echo media | media_tag: image_size: "2048x", toggleable: true
			endcase
		-%}
  	</template>

  	{%- if media.media_type == 'model' -%}
		</product-model>
		{%- if xr_button -%}
			<button
				class="button button--full-width product__xr-button"
				type="button"
				aria-label="{{ 'products.product.xr_button_label' | t }}"
				data-shopify-xr
				data-shopify-model3d-id="{{ media.id }}"
				data-shopify-title="{{ product.title | escape }}"
				data-shopify-xr-hidden
			>
				{% render 'icon-3d-model' %}
				{{ 'products.product.xr_button' | t }}
			</button>
		{%- endif -%}
  	{%- else -%}
		</deferred-media>
	{%- endif -%}
{%- endif -%}
