{% comment %} {%- liquid
  if cart == empty
    render 'icon-cart-empty'
  else
    render 'icon-cart'
  endif
-%}
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div>
      {%- if cart.item_count < 100 -%}
        <span aria-hidden="true">{{ cart.item_count }}</span>
      {%- endif -%}
      <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%} {% endcomment %}


{%- render 'svg', icon: 'bag-shopping', classes: 'mr-2 w-[1.125rem] h-[1.125rem] fill-current flex-shrink-0' -%}

<span class="sr-only">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>

{%- if cart != empty -%}
	<span class="cart-count-bubble">
		{%- if cart.item_count < 100 -%}
			<span>({% if cart.item_count < 10 %}0{{ cart.item_count }}{% else %}{{ cart.item_count }}{% endif %})</span>
		{%- endif -%}
		<span class="sr-only">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>

	</span>
{% else %}
	<span class="cart-count-bubble">(00)</span>
{% endif%}

