{%- if section.settings.enable_quick_add -%}
  	<link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  	<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  	<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- liquid
  	if section.settings.collection.all_products_count > section.settings.products_to_show
    	assign more_in_collection = true
  	endif
-%}

<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>

<slider-component class="block my-12 lg:my-16" data-parameters='{"spaceBetween":10,"slidesPerView":1.5,"breakpoints":{"1024":{"spaceBetween":20,"slidesPerView":3}}}'>

	<div class="container mb-12 hidden lg:block">
		<div class="row">
			<div class="flex justify-end gap-x-5">
				{%- if more_in_collection -%}
					<a
						href="{{ section.settings.collection.url }}"
						class="button button-red inline-block align-middle"
						aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
					>
						&rightarrow;&nbsp;{{- 'sections.featured_collection.view_all' | t -}}
					</a>
				{%- endif -%}

				{% render 'slider-navigation' %}
			</div>
		</div>
	</div>

	<div class="lg:container">
		<div class="lg:row">
			<div class="lg:col-3/12">
				<div class="mx-5 lg:mx-0 lg:flex lg:flex-col lg:justify-between lg:pb-11 lg:h-full">

					{%- if section.settings.title != blank -%}
						<h2 class="font-display font-semibold text-3xl uppercase">
							{{- section.settings.title | newline_to_br -}}
						</h2>
					{%- endif -%}

					<footer class="mt-14">
						<ul class="flex gap-2">
							<li>{% render 'svg', icon: 'shirt', classes: 'h-7 w-7 fill-current', description: shop.name %}</li>
							<li>{% render 'svg', icon: 'sea', classes: 'h-7 w-7 fill-current', description: shop.name %}</li>
							<li>{% render 'svg', icon: 'bottle', classes: 'h-7 w-7 fill-current', description: shop.name %}</li>
						</ul>

						{%- if section.settings.description != blank -%}
							<div class="text-xl leading-6 font-display font-semibold mt-4 uppercase">{{- section.settings.description -}}</div>
						{%- endif -%}

						<a
							href="{{ section.settings.collection.url }}"
							class="button mt-14 button-red lg:hidden inline-block align-middle w-full"
							aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
						>
							&rightarrow;&nbsp;{{- 'sections.featured_collection.view_all' | t -}}
						</a>
					</footer>
				</div>
			</div>

			<div class="lg:col-9/12 swiper mt-12 lg:mt-0 px-2.5 lg:px-5">
				<div class="swiper-wrapper">
					{%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
						<div
							id="Slide-{{ section.id }}-{{ forloop.index }}"
							class="swiper-slide !h-auto"
						>
						  	{% render 'card-product',
								card_product: product,
								media_aspect_ratio: section.settings.image_ratio,
								show_secondary_image: section.settings.show_secondary_image,
								show_vendor: section.settings.show_vendor,
								show_rating: section.settings.show_rating,
								show_quick_add: section.settings.enable_quick_add,
								section_id: section.id,
								classes: 'h-full flex flex-col lg:block lg:h-auto'
						  	%}
						</div>
					{%- else -%}
						{%- for i in (1..4) -%}
						  	<div>
								{% render 'card-product', show_vendor: section.settings.show_vendor %}
							</div>
						{%- endfor -%}
					{%- endfor -%}
				</div>
			</div>
		</div>
	</div>
</slider-component>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.featured-collection.settings.show_description.label",
      "default": false
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
