<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

{%- liquid

	if section.settings.post_limit <= section.settings.blog.articles_count
  	endif
-%}

<div class="featured-blog my-16 space-y-8">
	<div class="container">
		<div class="row items-center">
			{%- unless section.settings.heading == blank -%}
				<div class="col-6/12">
					<h2 class="font-semibold text-5xl uppercase font-display">{{ section.settings.heading | escape }}</h2>
				</div>
			{%- endunless -%}

			<div class="col-6/12 flex justify-end">
				<a href="{{ section.settings.blog.url }}" class="button button-red">
					&rightarrow;&nbsp;{{ 'sections.featured_blog.view_all' | t }}
				</a>
			</div>

		</div>
	</div>
	<div class="container">
		<ul class="row">
			{%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
				<li class="lg:w-3/12">
					{% render 'article-card', blog: section.settings.blog, article: article, media_aspect_ratio: 1.66, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author, show_excerpt: true %}
				</li>
			{%- endfor -%}
		</ul>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Corail° Stories",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
