

<div>

	{% liquid
		assign tags_article_count = 0
		assign tags_podcast_count = 0
		assign tags_video_count = 0

		for article in blog.articles
			if article.tags contains 'Article'
				assign tags_article_count = tags_article_count | plus: 1
			endif

			if article.tags contains 'Vidéo'
				assign tags_video_count = tags_video_count | plus: 1
			endif

			if article.tags contains 'Podcast'
				assign tags_podcast_count = tags_podcast_count | plus: 1
			endif
		endfor
	%}

	<ul>
		<li><a href="{{ blog.url }}">Tous</a></li>
		<li><a href="{{ blog.url }}/tagged/article">{{ 'Article' }}({{ tags_article_count }})</a></li>
		<li><a href="{{ blog.url }}/tagged/video">{{ 'Vidéo' }}({{ tags_video_count }})</a></li>
		<li><a href="{{ blog.url }}/tagged/podcast">{{ 'Podcast' }}({{ tags_podcast_count }})</a></li>
	</ul>



</div>

{% comment %} tagged/video {% endcomment %}

{% schema %}
{
  "name": "t:sections.filters-articles.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.filters-articles.settings.title.label",
      "placeholder": "t:sections.filters-articles.settings.title.placeholder"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.filters-articles.presets.name"
    }
  ]
}
{% endschema %}
