<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">


{%- if settings.predictive_search_enabled -%}
  	<link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}


<link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>


{%- if settings.cart_type == "drawer" -%}
  	{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  	{{ 'component-cart.css' | asset_url | stylesheet_tag }}
  	{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  	{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}


<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<sticky-header class="header-wrapper block h-16 lg:h-[4.375rem] relative z-20 bg-white {% if 'article' == request.page_type %} lg:is-ontop:text-white lg:is-ontop:bg-white/0 lg:transition-colors lg:duration-1000 lg:ease-in-out {% endif %} {% if 'index' == request.page_type %} is-ontop:text-white is-ontop:bg-white/0 transition-colors duration-1000 ease-in-out {% endif %}">

	<hr class="w-full h-[0.0625rem] absolute bottom-[100%] inset-x-0 block bg-orange-grayish {% if request.page_type == 'index' %} transition-colors duration-1000 ease-in-out is-ontop:bg-white/0 {% endif %} {% if request.page_type == 'article' %} bg-transparent lg:transition-colors lg:duration-1000 lg:ease-in-out lg:is-ontop:bg-white/0 {% endif %}" />

	<div class="flex h-full">

		{%- if section.settings.menu != blank -%}
			{% render 'header-drawer', links: section.settings.menu.links %}
		{%- endif -%}

		<span class="w-[0.0625rem] h-full block lg:hidden bg-orange-grayish {% if request.page_type == 'index' %} transition-colors duration-1000 ease-in-out is-ontop:bg-white {% endif %}"></span>

		<a href="{{ routes.root_url }}" class="lg:px-10 items-center w-full lg:w-auto flex justify-center">
			{% render 'svg', icon: 'corail-logo', classes: 'h-5 w-28 fill-current', description: shop.name %}
		</a>

		<span class="w-[0.0625rem] relative -right-[0.03125rem] h-full hidden lg:block bg-orange-grayish {% if request.page_type == 'index' %} transition-colors duration-1000 ease-in-out is-ontop:bg-white {% endif %}"></span>

		{%- if section.settings.menu != blank -%}
			<nav class="hidden lg:flex items-center font-display">
			  	<ul class="flex list-none" role="list">
					{%- for link in section.settings.menu.links -%}
						<li>
							{%- if link.links != blank -%}
								<header-menu>
									<details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
										<summary>
											<span class="group relative px-8 py-[1.6875rem] block text-sm uppercase font-medium leading-4 hover:after:scale-y-100 parent-expanded:after:scale-y-100 after:absolute after:top-0 after:h-[0.1875rem] after:bg-current after:w-full after:inset-x-0 after:transition-transform after:duration-1000 after:ease-in-out after:origin-top {% if link.current %} after:scale-y-100 {% else %} after:scale-y-0 {% endif %}">
												<span class="group-hover:opacity-100 group-focus:opacity-100 duration-1000 ease-in-out transition-opacity grandparent-expanded:opacity-100 {% if link.current %} opacity-100 {% else %} opacity-0 {% endif %} h-full w-[0.0625rem] bg-orange-grayish {% if request.page_type == 'index' %} is-ontop:bg-white duration-1000 ease-in-out {% endif %} block absolute right-[calc(100%_-_0.03125rem)] inset-y-0"></span>
													{{- link.title | escape -}}
												<span class="group-hover:opacity-100 group-focus:opacity-100 duration-1000 ease-in-out transition-opacity grandparent-expanded:opacity-100 {% if link.current %} opacity-100 {% else %} opacity-0 {% endif %} h-full w-[0.0625rem] bg-orange-grayish {% if request.page_type == 'index' %} is-ontop:bg-white duration-1000 ease-in-out {% endif %} block absolute left-[calc(100%_-_0.03125rem)] inset-y-0"></span>
											</span>
										</summary>

										<div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content bg-white text-gray-very-dark overflow-auto border-b-[0.0625rem] border-orange-grayish {% if request.page_type == 'product' %} lg:max-h-[calc(100vh_-_10.5rem)] {% else %} {% endif %}" tabindex="-1">
											<ul class="mega-menu__list grid text-sm font-medium list-none {% if link.levels == 1 %} mega-menu__list--condensed {% endif %}" role="list">
												{%- for childlink in link.links -%}
													<li class="relative py-8 px-16">
														{% if '#' == childlink.url and '#' == childlink.title %}
														{% elsif '#' == childlink.url %}
															<p class="font-bold text-sm leading-7 uppercase mb-3">
																{{ childlink.title | escape }}
															</p>
														{% else %}
															<a
																href="{{ childlink.url }}"
																class="font-bold text-sm leading-7 block uppercase mb-3 hover:underline is-active:underline mega-menu__link--level-2 {% if childlink.current %} is-active {% endif %}"
																{% if childlink.current %} aria-current="page"{% endif %}
															>
																{{ childlink.title | escape }}
															</a>
														{% endif %}

														{%- if childlink.links != blank -%}
															<ul class="list-none" role="list">
																{%- for grandchildlink in childlink.links -%}
																	<li class="{% if grandchildlink.title contains '[all]' %} font-semibold mt-6 {% endif %}">
																		<a href="{{ grandchildlink.url }}" class="py-1 inline-block align-middle hover:underline is-active:underline {% if grandchildlink.title contains '[all]' %} underline {% endif %} {% if grandchildlink.current %} is-active {% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
																			{{ grandchildlink.title | replace: ' [all]', '' | replace: ' [new]', '' | strip | escape }}
																		</a>
																		{% if grandchildlink.title contains '[new]' %}
																			<sup class="text-xs text-red-very-light">{{ 'products.product.new' | t }}</sup>
																		{% endif %}
																	</li>
																{%- endfor -%}
															</ul>
														{%- endif -%}

														<span class="absolute block left-[100%] inset-y-0 bg-orange-grayish w-[0.0625rem] h-full"></span>

														{% if '#' == childlink.url and '#' == childlink.title and forloop.first %}
															<img class="mt-8 w-full h-auto block" alt="" src="{{ 'menu.png' | asset_img_url: '178x267', crop: 'center' }}" width="178" height="267" loading="lazy" />
														{% endif %}
													</li>
												{%- endfor -%}
											</ul>
										</div>
									</details>
								</header-menu>
							{%- else -%}
								<a
									class="group relative px-8 py-[1.6875rem] block text-sm uppercase font-medium leading-4 hover:after:scale-y-100 after:absolute after:top-0 after:h-[0.1875rem] after:bg-current after:w-full after:inset-x-0 after:transition-transform after:duration-1000 after:ease-in-out after:origin-top {% if link.current %} after:scale-y-100 {% else %} after:scale-y-0 {% endif %}"
									href="{{ link.url }}"
									{% if link.current %} aria-current="page"{% endif %}
								>
									<span class="group-hover:opacity-100 group-focus:opacity-100 duration-1000 ease-in-out transition-opacity {% if link.current %} opacity-100 {% else %} opacity-0 {% endif %} h-full w-[0.0625rem] bg-orange-grayish {% if request.page_type == 'index' %} is-ontop:bg-white {% endif %} block absolute right-[calc(100%_-_0.03125rem)] inset-y-0"></span>

									{{- link.title | escape -}}

									<span class="group-hover:opacity-100 group-focus:opacity-100 duration-1000 ease-in-out transition-opacity {% if link.current %} opacity-100 {% else %} opacity-0 {% endif %} h-full w-[0.0625rem] bg-orange-grayish {% if request.page_type == 'index' %} is-ontop:bg-white {% endif %} block absolute left-[calc(100%_-_0.03125rem)] inset-y-0"></span>
								</a>

							{%- endif -%}
						</li>
					{%- endfor -%}
			  	</ul>
			</nav>
		{%- endif -%}


		<div class="ml-auto flex">

			{%- if section.settings.secondary-menu != blank -%}
				<nav class="hidden lg:flex items-center font-display">
					<div class="flex">
						{%- for link in section.settings.secondary-menu.links -%}
							{% if link.links != blank %}
								<header-menu>
									<details id="Details-HeaderSecondaryMenu-{{ forloop.index }}" class="static">
										<summary>
											<span class="group relative px-8 py-[1.6875rem] block text-sm uppercase font-medium leading-4 hover:after:scale-y-100 parent-expanded:after:scale-y-100 after:absolute after:top-0 after:h-[0.1875rem] after:bg-current after:w-full after:inset-x-0 after:transition-transform after:duration-1000 after:ease-in-out after:origin-top {% if link.current %} after:scale-y-100 {% else %} after:scale-y-0 {% endif %}">
												<span class="group-hover:opacity-100 group-focus:opacity-100 duration-1000 ease-in-out transition-opacity grandparent-expanded:opacity-100 {% if link.current %} opacity-100 {% else %} opacity-0 {% endif %} h-full w-[0.0625rem] bg-orange-grayish {% if request.page_type == 'index' %} is-ontop:bg-white duration-1000 ease-in-out {% endif %} block absolute right-[calc(100%_-_0.03125rem)] inset-y-0"></span>
													{{- link.title | escape -}}
												<span class="group-hover:opacity-100 group-focus:opacity-100 duration-1000 ease-in-out transition-opacity grandparent-expanded:opacity-100 {% if link.current %} opacity-100 {% else %} opacity-0 {% endif %} h-full w-[0.0625rem] bg-orange-grayish {% if request.page_type == 'index' %} is-ontop:bg-white duration-1000 ease-in-out {% endif %} block absolute left-[calc(100%_-_0.03125rem)] inset-y-0"></span>
											</span>
										</summary>

										<div id="MegaMenu-Secondary-{{ forloop.index }}" class="py-8 px-16 absolute top-[100%] border-x border-b border-x-orange-grayish border-b-orange-grayish right-0 overflow-y-auto -z-1 bg-white text-gray-very-dark {% if request.page_type == 'product' %} lg:max-h-[calc(100vh_-_10.5rem)] {% endif %}" tabindex="-1">

											<ul class="text-sm font-medium list-none space-y-3 " role="list">
												{%- for childlink in link.links -%}
													<li>
														{% if childlink.links != blank %}
															<p class="font-bold text-sm leading-7 uppercase">
																{{ childlink.title | escape }}
															</p>
														{% else %}
															<a href="{{ childlink.url }}" class="py-1 inline-block align-middle hover:underline is-active:underline {% if childlink.current %} is-active {% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
																{{ childlink.title | escape }}
															</a>
														{% endif %}
														{% if childlink.links != blank %}
															<ul>
																{% for grandchildlink in childlink.links %}
																	<li>
																		{% if grandchildlink.title contains '[icon-mail] ' %}
																			<a href="{{ grandchildlink.url }}" class="py-1 flex items-center hover:underline">
																				{% render 'svg', icon: 'mail', classes: 'w-5 h-5 mr-2' %}
																				{{ grandchildlink.title | replace: '[icon-mail] ', '' | escape }}
																			</a>
																		{% elsif grandchildlink.title contains '[icon-at] ' %}
																			<a href="{{ grandchildlink.url }}" class="py-1 flex items-center hover:underline">
																				{% render 'svg', icon: 'at', classes: 'w-5 h-5 mr-2' %}
																				{{ grandchildlink.title | replace: '[icon-at] ', '' | escape }}
																			</a>
																		{% elsif grandchildlink.title contains '[icon-account] ' %}
																			<a href="{{ grandchildlink.url }}" class="py-1 flex items-center hover:underline">
																				{% render 'svg', icon: 'account', classes: 'w-5 h-5 mr-2' %}
																				{{ grandchildlink.title | replace: '[icon-account] ', '' | escape }}
																			</a>
																		{% else %}
																			<a
																				href="{{ grandchildlink.url }}"
																				class="py-1 inline-block align-middle hover:underline is-active:underline {% if grandchildlink.current %} is-active {% endif %}"
																				{% if grandchildlink.current %} aria-current="page" {% endif %}
																			>
																				{{ grandchildlink.title | escape }}
																			</a>
																		{% endif %}
																	</li>
																{% endfor %}
															</ul>
														{% endif %}
													</li>
												{%- endfor -%}
											</ul>
										</div>
									</details>
								</header-menu>
							{% else %}
								<a class="px-8 py-[1.6875rem] block text-sm uppercase font-medium leading-4" href="{{ link.url }}" {% if link.current %} aria-current="page"{% endif %}>
									{{ link.title | escape }}
								</a>
							{% endif %}
						{% endfor %}
					</div>
				</nav>
			{% endif %}

			<details-modal class="hidden lg:block">
				<details>
					<summary class="block w-[4.375rem] h-[4.375rem] relative" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
						{% render 'svg', icon: 'magnifying-glass', classes: 'm-auto absolute inset-0 w-[1.125rem] h-[1.125rem] fill-current block parent-open:hidden' %}
						{% render 'svg', icon: 'close', classes: 'm-auto absolute inset-0 w-[1.125rem] h-[1.125rem] fill-current hidden parent-open:block' %}
					</summary>

					<div
						class="font-display search-modal bg-white absolute inset-0 z-4 text-gray-very-dark"
						role="dialog"
						aria-modal="true"
						aria-label="{{ 'general.search.search' | t }}"
					>

						<div class="modal-overlay js-modal-overlay"></div>

						<span class="absolute top-[100%] bg-orange-grayish w-full h-[0.0625rem]"></span>
						<span class="absolute bottom-[100%] bg-orange-grayish w-full h-[0.0625rem]"></span>

						<div class="flex items-center" tabindex="-1">

							{%- if settings.predictive_search_enabled -%}
								<predictive-search class="w-full" data-loading-text="{{ 'accessibility.loading' | t }}">
							{%- endif -%}

							<form action="{{ routes.search_url }}" method="get" role="search" class="search w-full">
								<div class="relative">
									<input
										class="pr-[4.375rem] w-full h-[4.375rem] pl-2.5"
										id="Search-In-Modal-1"
										type="search"
										name="q"
										value=""
										placeholder="{{ 'general.search.search' | t }}"
										{% if settings.predictive_search_enabled %}
											role="combobox"
											aria-expanded="false"
											aria-owns="predictive-search-results-list"
											aria-controls="predictive-search-results-list"
											aria-haspopup="listbox"
											aria-autocomplete="list"
											autocorrect="off"
											autocomplete="off"
											autocapitalize="off"
											spellcheck="false"
										{% endif %}
									>

									<input type="hidden" name="options[prefix]" value="last">

									<button class="absolute right-0 inset-y-0 flex items-center justify-center w-[4.375rem] h-[4.375rem]" aria-label="{{ 'general.search.search' | t }}">
										{% render 'svg', icon: 'magnifying-glass', classes: 'w-[1.125rem] h-[1.125rem] fill-current block' %}
									</button>
								</div>

								{%- if settings.predictive_search_enabled -%}
									<div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
										<div class="predictive-search__loading-state">
											<svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
												<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
											</svg>
										</div>
									</div>

									<span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
								{%- endif -%}
							</form>

							{%- if settings.predictive_search_enabled -%}
								</predictive-search>
							{%- endif -%}


							<button type="button" class="relative w-[4.375rem] h-[4.375rem] flex items-center justify-center" aria-label="{{ 'accessibility.close' | t }}">
								<span class="absolute right-[100%] bg-orange-grayish w-[0.0625rem] h-full block"></span>
								{% render 'svg',
									classes: 'w-[1.125rem] h-[1.125rem] fill-current',
									icon: 'close',
									focusable: 'false',
									role: 'presentation',
									aria-hidden: 'true'
								%}
							</button>

						</div>
					</div>
				</details>
			</details-modal>

			{% if cart == empty or request.page_type == 'index' %}
				<span class="w-[0.0625rem] h-full block bg-orange-grayish {% if request.page_type == 'index' %} transition-colors duration-1000 ease-in-out is-ontop:bg-white {% endif %}"></span>
			{% endif %}

			<a href="{{ routes.cart_url }}" id="cart-icon-bubble" class="font-semibold text-sm leading-[1.125rem] flex items-center p-[1.4375rem] lg:px-[1.6875rem] {% if cart != empty and request.page_type != 'index' %} bg-gray-very-dark text-white relative z-1 {% endif %}">
				{%- render 'svg', icon: 'bag-shopping', classes: 'mr-2 w-[1.125rem] h-[1.125rem] fill-current flex-shrink-0' -%}

				<span class="sr-only">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>

				{%- if cart != empty -%}
					<span class="cart-count-bubble">
						{%- if cart.item_count < 100 -%}
							<span>({% if cart.item_count < 10 %}0{{ cart.item_count }}{% else %}{{ cart.item_count }}{% endif %})</span>
						{%- endif -%}
						<span class="sr-only">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>

					</span>
				{% else %}
					<span class="cart-count-bubble">(00)</span>
				{% endif%}
			</a>

		</div>
	</div>

	<hr class="absolute bottom-0 inset-x-0 block bg-orange-grayish {% if request.page_type == 'index' %} is-ontop:bg-white transition-colors duration-1000 ease-in-out {% endif %}" />
</sticky-header>

{%- if settings.cart_type == "notification" -%}
	{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "secondary-menu",
      "label": "t:sections.header.settings.secondary_menu.label"
    }
  ]
}
{% endschema %}
