{%
	# Image banner
	#
	# @author Jérémy Levron < jeremylevron@19h47.fr > (https: //19h47.fr/)
%}

<script src="{{ 'coordinates.js' | asset_url }}" defer></script>

<div class="text-white relative image-banner h-[36.625rem] lg:h-[52.625rem]">

	{% if section.settings.video %}
		<video
			class="h-full w-full object-cover relative z-10"
			loop
			muted
			autoplay
			playsinline
			poster="{{ section.settings.video.preview_image | image_url }}"
		>
			{% for source in section.settings.video.sources %}
				<source src="{{ source.url }}" type="{{ source.mime_type }}">
			{% endfor %}
		</video>
	{% endif %}

	{% if section.settings.image %}
		{%-liquid
			assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio

			if section.settings.image != blank
			  	assign sizes = "(min-width: 750px) 50vw, 100vw"
			elsif section.settings.image != blank
			 	 assign sizes = "50vw"
			else
			  	assign sizes = "100vw"
			endif
		-%}
		{{ section.settings.image | image_url: width: 1500 | image_tag:
			loading: 'lazy',
			width: section.settings.image.width,
			height: image_height,
			class: 'w-full h-full object-cover object-center relative z-10',
			sizes: sizes,
			widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
			alt: section.settings.image.alt | escape
		}}
	{% endif %}

	{%- if section.blocks -%}
		<div class="absolute text-center my-auto inset-0 z-20 flex items-center">
			<div class="container">
				<div class="row">
					<div>
						{%- for block in section.blocks -%}
							{%- case block.type -%}
								{%- when 'heading' -%}
									<h2 class="font-semibold text-6xl font-display" {{ block.shopify_attributes }}>
										{{ block.settings.heading | newline_to_br }}
									</h2>
								{%- when 'button' -%}
									<div class="mt-[4.75rem]" {{ block.shopify_attributes }}>
										{%- if block.settings.button_label != blank -%}
											<a{% if block.settings.button_link == blank %} role="link" aria-disabled="true" {% else %} href="{{ block.settings.button_link }}"{% endif %} class="button">
												&rightarrow;&nbsp;{{ block.settings.button_label | escape }}
											</a>
										{%- endif -%}
									</div>
							{%- endcase -%}
						{%- endfor -%}
					</div>
				</div>
			</div>
		</div>
	{%- endif -%%}

	<footer class="absolute z-20 bottom-0 inset-x-0 text-center mb-5 lg:mb-11 text-sm">
		<div class="container">
			<div class="row">
				<div>
					<coordinates-dms class="font-bold">
						<span class="block" style="font-variant-numeric: tabular-nums;">43°17′42,00″ N</span>
						<span class="block" style="font-variant-numeric: tabular-nums;">5°22′19,20″ E</span>
					</coordinates-dms>
				</div>
			</div>
		</div>
	</footer>
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.image-banner.settings.video.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-banner.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.button.settings.button_label.label",
          "info": "t:sections.image-banner.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-banner.blocks.button.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
