<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>


<slider-component class="block images-with-collapsible-tab relative my-12 lg:my-16 overflow-hidden" data-parameters='{"spaceBetween":20}'>
	<div class="hidden lg:block w-[calc(50vw_+_0.625rem)] bg-white absolute inset-y-0 left-0 z-2 pointer-events-none"></div>

	<div class="lg:container">
		<div class="lg:row">
			<div class="lg:col-6/12 lg:mt-[9.75rem] relative z-3 mb-14 lg:mb-0 px-5 lg:px-2.5">
				<div class="lg:row">
					<div class="lg:col-4/6 lg:ml-1/6">
						<div class="divide-y-[0.0625rem] divide-orange-grayish">
							{%- for block in section.blocks -%}
								{% case block.type %}
									{%- when 'collapsible_tab' -%}
										{% render 'details',
											title: block.settings.title,
											block_id: block.id,
											section_id: section.id,
											content: block.settings.content
										%}
								{%- endcase -%}
							{%- endfor -%}
						</div>

						{% render 'slider-navigation', classes: 'mt-14 hidden lg:flex' %}
					</div>
				</div>
			</div>

			<div class="lg:col-5/12 relative z-1">
				<div class="swiper overflow-visible">
					<div class="swiper-wrapper">
						{%- for block in section.blocks -%}
							{% case block.type %}
								{%- when 'image' -%}
									{% if block.settings.image %}
										<div class="swiper-slide h-[14rem] lg:h-[28rem]">
											<img
												srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
												{%- if block.settings.image.width >= 330 -%}{{ block.settings.image | image_url: width: 330 }} 330w,{%- endif -%}
												{%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
												{%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
												{%- if block.settings.image.width >= 1000 -%}{{ block.settings.image | image_url: width: 1000 }} 1000w,{%- endif -%}
												{%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
												{%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
												{{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
												src="{{ block.settings.image | image_url: width: 1500 }}"
												sizes=""
												alt=""
												height="{{ block.settings.image.height }}"
												width="{{ block.settings.image.width }}"
												loading="lazy"
												class="w-full h-full object-cover object-center"
											>
										</div>
									{% endif %}
							{%- endcase -%}
						{%- endfor -%}
					</div>
				</div>
			</div>
		</div>
	</div>

</slider-component>

{% schema %}
{
  "name": "t:sections.images-with-collapsible-tab.name",
  "class": "section",
  "settings": [

  ],
  "blocks": [
    {
      "type": "collapsible_tab",
      "name": "t:sections.images-with-collapsible-tab.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "info": "t:sections.images-with-collapsible-tab.blocks.collapsible_tab.settings.title.info",
          "label": "t:sections.images-with-collapsible-tab.blocks.collapsible_tab.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.images-with-collapsible-tab.blocks.collapsible_tab.settings.content.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.images-with-collapsible-tab.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.images-with-collapsible-tab.blocks.image.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.images-with-collapsible-tab.presets.name",
      "blocks": [
        {
          "type": "collapsible_tab"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
