<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>

{%- capture sizes -%}(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)}{%- endcapture -%}

<slider-component class="block overflow-hidden my-12 lg:my-36" data-parameters='{"spaceBetween":20}'>
	<div class="container">
		<div class="row mb-4 lg:mb-9">
			<div class="lg:col-9/12 lg:ml-3/12 lg:relative">
				<h2 class="text-[3.125rem] lg:text-[5.625rem] uppercase font-bold font-display text-center leading-[5.5rem]">
					{{- section.settings.title -}}
				</h2>

				<div class="absolute inset-0 lg:flex items-center justify-end hidden">{% render 'slider-navigation' %}</div>
			</div>
		</div>

		<div class="row">
			<div class="lg:col-8/12 lg:ml-3/12 swiper overflow-visible">
				<ul class="swiper-wrapper">
					{% for block in section.blocks %}
						<li class="swiper-slide">
							<div class="rounded-[1.25rem] h-[24.625rem] overflow-hidden">
								{{ block.settings.image | image_url: width: 354 | image_tag:
									loading: 'lazy',
									sizes: sizes,
									widths: '550, 720, 990, 1100, 1500, 2200, 3000',
									class: 'w-full h-full object-cover object-center block'
								}}
							</div>

							{% if block.settings.title != blank or block.settings.content != blank %}
								<div class="lg:row mt-6">
									<div class="lg:col-3/8">
										<p class="text-xl font-display uppercase font-semibold">{{ block.settings.title }}</p>
									</div>
									<div class="lg:col-5/8 mt-6 lg:mt-0">
										<p>{{ block.settings.content }}</p>
									</div>
								</div>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="row lg:hidden mt-16">
			<div class="flex justify-center">
				{% render 'slider-navigation' %}
			</div>
		</div>
	</div>
</slider-component>

{% schema %}
{
  "name": "t:sections.lab-slider-image.name",
  "tag": "section",
  "class": "section section-lab-slider-image",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.lab-slider-image.settings.title.label",
      "placeholder": "t:sections.lab-slider-image.settings.title.placeholder"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.lab-slider-image.blocks.slide.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.lab-slider-image.blocks.slide.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.lab-slider-image.blocks.slide.settings.title.label"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "t:sections.lab-slider-image.blocks.slide.settings.content.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.lab-slider-image.presets.name"
    }
  ],
  "templates": [
    "page"
  ]
}
{% endschema %}
