<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>

<slider-component
	class="flex flex-col"
	data-parameters='{"spaceBetween":20,"effect":"fade","fadeEffect":{"crossFade":true},"pagination":{"modifierClass":"swiper-pagination-with-numbers-","renderBullet":true,"clickable":true,"el":"#Slider-Pagination-{{ section.id }}"}}'
	id="from-pollution-to-solution"
	style="scroll-margin-top: 6rem;"
	data-scroll
	data-scroll-call="anchor"
>

	{% if section.settings.title != blank %}
		<div class="container mb-20 lg:order-1">
			<div class="row">
				<div class="lg:col-9/12 lg:ml-3/12">
					<h2 class="text-[3.125rem] leading-none lg:text-[5.625rem] uppercase font-bold font-display text-center lg:leading-[5.5rem]">
						{{- section.settings.title | newline_to_br -}}
					</h2>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="container lg:order-3 mb-20 lg:mb-0 w-full">
		<div class="row">
			<div class="lg:col-9/12 lg:ml-3/12 flex justify-center">
				<div class="swiper-pagination-with-numbers-bullets" id="Slider-Pagination-{{ section.id }}"></div>
			</div>
		</div>
	</div>

	<div class="container w-full lg:order-2">
		<div class="row">
			<div class="lg:col-9/12 lg:ml-3/12 swiper">
				<div class="swiper-wrapper">
					{% for block in section.blocks %}
						{% if block.type == 'content' %}

							<div class="w-full swiper-slide">
								<div class="row">

									<div class="lg:col-3/9 lg:order-2">
										{% render 'svg', icon: block.settings.icon, classes: 'fill-orange-grayish block' %}
									</div>

									<div class="lg:col-3/9 lg:order-1 mt-5 lg:mt-0">
										{% if block.settings.image_left %}
											<div class="rounded-[1.25rem] overflow-hidden lg:max-w-[15.875rem]">
												{{ block.settings.image_left | image_url: width: 692, height: 888 | image_tag:
													loading: 'lazy',
													widths: '275, 550, 710, 1420',
													class: 'w-full h-[22.25rem] lg:h-[20.125rem] object-cover object-center block'
												}}
											</div>
										{% endif %}
										<div class="mt-5 lg:mt-16">
											{% if block.settings.title_left %}
												<h3 class="font-semibold text-2xl font-display uppercase">{{ block.settings.title_left }}</h3>
											{% endif %}
											{% if block.settings.content_left %}
												<p class="mt-2">{{ block.settings.content_left | newline_to_br }}</p>
											{% endif %}
										</div>
									</div>

									<div class="lg:col-3/9 lg:order-3 mt-5 lg:mt-0 flex flex-col">

										{% if block.settings.image_right  %}
											<div class="rounded-[1.25rem] overflow-hidden lg:order-2">
												{{ block.settings.image_right | image_url: width: 692, height: 888 | image_tag:
													loading: 'lazy',
													widths: '275, 550, 710, 1420',
													class: 'w-full h-[12rem] lg:h-[13.875rem] object-cover object-center block'
												}}
											</div>
										{% endif %}

										<div class="mt-5 lg:mt-0 lg:mb-16 lg:order-1">
											{% if block.settings.title_right %}
												<h3 class="font-semibold text-2xl font-display uppercase">{{ block.settings.title_right }}</h3>
											{% endif %}
											{% if block.settings.content_right %}
												<p class="mt-2">{{ block.settings.content_right | newline_to_br }}</p>
											{% endif %}
										</div>

									</div>
								</div>
							</div>

						{% endif %}
					{% endfor %}
				</div>

			</div>
		</div>
	</div>

</slider-component>

{% schema %}
{
  "name": "t:sections.lab-content.name",
  "tag": "section",
  "class": "section section-lab-content",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "t:sections.lab-content.settings.title.label",
      "placeholder": "t:sections.lab-content.settings.title.placeholder"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "t:sections.lab-content.blocks.content.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.lab-content.blocks.content.settings.header_left.content"
        },
        {
          "type": "image_picker",
          "id": "image_left",
          "label": "t:sections.lab-content.blocks.content.settings.image_left.label"
        },
        {
          "type": "text",
          "id": "title_left",
          "label": "t:sections.lab-content.blocks.content.settings.title_left.label"
        },
        {
          "type": "textarea",
          "id": "content_left",
          "label": "t:sections.lab-content.blocks.content.settings.content_left.label"
        },
        {
          "type": "header",
          "content": "t:sections.lab-content.blocks.content.settings.header_icon.content"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.lab-content.blocks.content.settings.icon.label",
          "options": [
            {
              "label": "t:sections.lab-content.blocks.content.settings.icon.options__1",
              "value": "decor-01"
            },
            {
              "label": "t:sections.lab-content.blocks.content.settings.icon.options__2",
              "value": "decor-03"
            },
            {
              "label": "t:sections.lab-content.blocks.content.settings.icon.options__3",
              "value": "decor-04"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.lab-content.blocks.content.settings.header_right.content"
        },
        {
          "type": "text",
          "id": "title_right",
          "label": "t:sections.lab-content.blocks.content.settings.title_right.label"
        },
        {
          "type": "textarea",
          "id": "content_right",
          "label": "t:sections.lab-content.blocks.content.settings.content_right.label"
        },
        {
          "type": "image_picker",
          "id": "image_right",
          "label": "t:sections.lab-content.blocks.content.settings.image_right.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.lab-content.presets.name"
    }
  ],
  "templates": [
    "page"
  ]
}
{% endschema %}
