<div class="relative">

	<div class="absolute top-0 inset-x-0 h-full w-full">
		{% render 'target.svg', classes: 'is-ontop:fill-white opacity-50 transition-color duration-1000 ease-in-out fill-orange-grayish sticky inset-x-0 top-[4.375rem] w-full h-[calc(100vh_-_4.375rem)] z-2' %}
	</div>

	<div class="">
		{% if section.settings.video %}
			<video
				class="h-full w-full object-cover relative z-1"
				loop
				muted
				autoplay
				playsinline
				poster="{{ section.settings.video.preview_image | image_url }}"
			>
				{% for source in section.settings.video.sources %}
					<source src="{{ source.url }}" type="{{ source.mime_type }}">
				{% endfor %}
			</video>
		{% endif %}


	</div>

	{% for block in section.blocks %}
		{%- case block.type -%}

			{%- when 'image' -%}
				{%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
				{{ block.settings.image | image_url: width: 1500 | image_tag:
					loading: 'lazy',
					sizes: sizes,
					widths: '165, 360, 535, 750, 1070, 1250, 1500'
				}}
		{%- endcase -%}
	{% endfor %}


</div>

{% schema %}
{
  "name": "t:sections.main-lookbook.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.main-lookbook.settings.video.label"
    }
  ],
  "blocks": [
    {
      "type": "images",
      "name": "t:sections.main-lookbook.blocks.images.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-lookbook.blocks.images.settings.header_left.content"
        },
        {
          "type": "image_picker",
          "id": "image_left",
          "label": "t:sections.main-lookbook.blocks.images.settings.image_left.label"
        },
        {
          "type": "text",
          "id": "title_left",
          "label": "t:sections.main-lookbook.blocks.images.settings.title_left.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-lookbook.blocks.images.settings.header_right.content"
        },
        {
          "type": "image_picker",
          "id": "image_right",
          "label": "t:sections.main-lookbook.blocks.images.settings.image_right.label"
        },
        {
          "type": "text",
          "id": "title_right",
          "label": "t:sections.main-lookbook.blocks.images.settings.title_right.label"
        }
      ]
    }
  ]
}
{% endschema %}
