
<div class="py-5">
	<div class="container">
		<div class="row">
			<div>
				<div class="h-[20.1875rem] lg:h-[44.625rem] rounded-[1.25rem] overflow-hidden relative bg-orange-grayish">
					{% if section.settings.video != nil %}
						<video
							class="h-full w-full object-cover object-center block relative z-1"
							loop
							muted
							autoplay
							playsinline
							poster="{{ section.settings.video.preview_image | image_url }}"
						>
							{% for source in section.settings.video.sources %}
								<source src="{{ source.url }}" type="{{ source.mime_type }}">
							{% endfor %}
						</video>
					{% endif %}

					{% if section.settings.image != nil %}
						{{ section.settings.image | image_url: width: 1400, height: 714 | image_tag:
							loading: 'lazy',
							widths: '280, 1400',
							class: 'w-full h-full object-cover object-center block relative z-1'
						}}
					{% endif %}

					<div class="absolute inset-0 flex items-center justify-center z-2">
						<h1 class="font-display font-semibold text-[2.5rem] lg:text-6xl uppercase text-white text-center">{{- page.title -}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% for block in section.blocks %}
	{% if 'introduction' == block.type %}
		<div class="lg:my-32" id="corail-lab" style="scroll-margin-top: 6rem;" data-scroll data-scroll-call="anchor">
			<div class="container">
				<div class="row lg:items-center">
					<div class="lg:col-4/12 lg:order-2">
						<div class="lg:mx-14">

							{% if block.settings.title %}
								<h2 class="font-semibold text-3xl font-display uppercase">{{- block.settings.title -}}</h2>
							{% endif %}

							{% if block.settings.content %}
								<p class="mt-2.5">{{- block.settings.content -}}</p>
							{% endif %}
						</div>
					</div>
					<div class="lg:ml-3/12 lg:col-4/12 lg:order-1 mt-6 lg:mt-0">
						<div class="h-[14.75rem] lg:h-[33.875rem] rounded-[1.25rem] overflow-hidden">
							{% if block.settings.image != nil %}
								{{ block.settings.image | image_url: width: 692, height: 888 | image_tag:
									loading: 'lazy',
									widths: '275, 550, 710, 1420',
									class: 'w-full h-full object-cover object-center block'
								}}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endfor %}

{% schema %}
{
  "name": "t:sections.main-lab.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.main-lab.settings.video.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main-lab.settings.image.label"
    }
  ],
  "blocks": [
    {
      "type": "introduction",
      "limit": 1,
      "name": "t:sections.main-lab.blocks.introduction.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-lab.blocks.introduction.settings.header.content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-lab.blocks.introduction.settings.title.label"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "t:sections.main-lab.blocks.introduction.settings.content.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main-lab.blocks.introduction.settings.image.label"
        }
      ]
    }
  ]
}
{% endschema %}
