<script src="{{ 'gsap.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'ScrollTrigger.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-lookbook.js' | asset_url }}" defer="defer"></script>

<main-lookbook class="relative flex flex-col">
	<div class="absolute inset-0 h-full z-3 is-ontop:text-white text-right hidden lg:block">
		<div class="top-[4.375rem] inset-x-0 sticky h-[calc(100vh_-_4.375rem)] flex justify-end">
			<div class="mr-2.5" style="padding: {{ 60 | times: 100 | divided_by: 900 }}vh 0;">
				<ul class="js-foot flex justify-between h-full flex-col text-3xs">
					<li>-90000ft</li>
					<li>-80000ft</li>
					<li>-70000ft</li>
					<li>-60000ft</li>
					<li>-50000ft</li>
					<li>-40000ft</li>
					<li>-30000ft</li>
					<li>-20000ft</li>
					<li>-10000ft</li>
					<li>-9999ft</li>
				</ul>
			</div>
			<scrollbar class="overflow-hidden block w-2 relative is-ontop:bg-white bg-orange-grayish transition-colors duration-1000 ease-in-out">
				<thumb
					class="block absolute top-0 h-full w-full inset-x-0 bg-red-light rounded-br-full rounded-bl-full after:rounded-full after:w-1 after:h-1 after:bg-white after:absolute after:bottom-0 after:inset-x-0 after:mx-0.5 after:mb-[0.1875rem]"
				></thumb>
			</scrollbar>

			<marker
				style="transform: translate3d( {{ 1291 | times: 100 | divided_by: 1440 }}vw, {{ 48 | times: 100 | divided_by: 900 }}vh, 0);"
				class="top-0 left-0 absolute -mt-[0.5625rem] -ml-[0.5625rem] rounded-full w-[1.125rem] h-[1.125rem] is-ontop:!bg-white bg-gray-very-dark block"
			><span class="absolute inset-0 -mt-[0.6875rem] -ml-[0.6875rem] rounded-full w-10 h-10 border-[0.0625rem] border-red-light" style="opacity: 0; transform: scale(0);"></span></marker>
			<marker
				style="transform: translate3d( {{ 786 | times: 100 | divided_by: 1440 }}vw, {{ 165 | times: 100 | divided_by: 900 }}vh, 0);"
				class="top-0 left-0 absolute -mt-[0.5625rem] -ml-[0.5625rem] rounded-full w-[1.125rem] h-[1.125rem] is-ontop:!bg-white bg-gray-very-dark block"
			><span class="absolute inset-0 -mt-[0.6875rem] -ml-[0.6875rem] rounded-full w-10 h-10 border-[0.0625rem] border-red-light" style="opacity: 0; transform: scale(0);"></span></marker>
			<marker
				style="transform: translate3d( {{ 220 | times: 100 | divided_by: 1440 }}vw, {{ 196 | times: 100 | divided_by: 900 }}vh, 0 );"
				class="top-0 left-0 absolute -mt-[0.5625rem] -ml-[0.5625rem] rounded-full w-[1.125rem] h-[1.125rem] is-ontop:!bg-white bg-gray-very-dark block"
			><span class="absolute inset-0 -mt-[0.6875rem] -ml-[0.6875rem] rounded-full w-10 h-10 border-[0.0625rem] border-red-light" style="opacity: 0; transform: scale(0);"></span></marker>
			<marker
				style="transform: translate3d( {{ 1260 | times: 100 | divided_by: 1440 }}vw, {{ 472 | times: 100 | divided_by: 900 }}vh, 0 );"
				class="top-0 left-0 absolute -mt-[0.5625rem] -ml-[0.5625rem] rounded-full w-[1.125rem] h-[1.125rem] is-ontop:!bg-white bg-gray-very-dark block"
			><span class="absolute inset-0 -mt-[0.6875rem] -ml-[0.6875rem] rounded-full w-10 h-10 border-[0.0625rem] border-red-light" style="opacity: 0; transform: scale(0);"></span></marker>
			<marker
				style="transform: translate3d( {{ 518 | times: 100 | divided_by: 1440 }}vw, {{ 581 | times: 100 | divided_by: 900 }}vh, 0 );"
				class="top-0 left-0 absolute -mt-[0.5625rem] -ml-[0.5625rem] rounded-full w-[1.125rem] h-[1.125rem] is-ontop:!bg-white bg-gray-very-dark block"
			><span class="absolute inset-0 -mt-[0.6875rem] -ml-[0.6875rem] rounded-full w-10 h-10 border-[0.0625rem] border-red-light" style="opacity: 0; transform: scale(0);"></span></marker>
			<marker
				style="transform: translate3d( {{ 161 | times: 100 | divided_by: 1440 }}vw, {{ 706 | times: 100 | divided_by: 900 }}vh, 0 );"
				class="top-0 left-0 absolute -mt-[0.5625rem] -ml-[0.5625rem] rounded-full w-[1.125rem] h-[1.125rem] is-ontop:!bg-white bg-gray-very-dark block"
			><span class="absolute inset-0 -mt-[0.6875rem] -ml-[0.6875rem] rounded-full w-10 h-10 border-[0.0625rem] border-red-light" style="opacity: 0; transform: scale(0);"></span></marker>
			<marker
				style="transform: translate3d( {{ 1035 | times: 100 | divided_by: 1440 }}vw, {{ 615 | times: 100 | divided_by: 900 }}vh, 0 );"
				class="top-0 left-0 absolute -mt-[0.5625rem] -ml-[0.5625rem] rounded-full w-[1.125rem] h-[1.125rem] is-ontop:!bg-white bg-gray-very-dark block"
			><span class="absolute inset-0 -mt-[0.6875rem] -ml-[0.6875rem] rounded-full w-10 h-10 border-[0.0625rem] border-red-light" style="opacity: 0; transform: scale(0);"></span></marker>
			<marker
				style="transform: translate3d( {{ 741 | times: 100 | divided_by: 1440 }}vw, {{ 770 | times: 100 | divided_by: 900 }}vh, 0 );"
				class="top-0 left-0 absolute -mt-[0.5625rem] -ml-[0.5625rem] rounded-full w-[1.125rem] h-[1.125rem] is-ontop:!bg-white bg-gray-very-dark block"
			><span class="absolute inset-0 -mt-[0.6875rem] -ml-[0.6875rem] rounded-full w-10 h-10 border-[0.0625rem] border-red-light" style="opacity: 0; transform: scale(0);"></span></marker>

		</div>

	</div>

	<div class="absolute top-0 inset-x-0 h-full w-full z-2">
		{% render 'target.svg', classes: 'is-ontop:fill-white opacity-50 transition-colors duration-1000 ease-in-out fill-orange-grayish sticky inset-x-0 top-[4.375rem] w-full h-[calc(100vh_-_4.375rem)] z-2' %}
	</div>

	<div class="relative lg:h-[calc(100vh_-_4.375rem)]">
		{% if section.settings.video != nil %}
			<video
				class="h-full w-full object-cover relative z-1"
				loop
				muted
				autoplay
				playsinline
				poster="{{ section.settings.video.preview_image | image_url }}"
			>
				{% for source in section.settings.video.sources %}
					<source src="{{ source.url }}" type="{{ source.mime_type }}">
				{% endfor %}
			</video>
		{% endif %}


		<div class="absolute inset-0 flex items-center justify-container z-4">
			<div class="container w-full">
				<div class="row">
					<div class="lg:col-6/12 lg:ml-3/12 text-center">
						{% if section.settings.collection != blank %}
							<p class="text-sm mb-2 lg:mb-4 text-white">{{- section.settings.collection.title -}}</p>
						{% endif %}
						<h1 class="text-white text-3xl lg:text-[7.5rem] lg:leading-[6.5615rem] font-semibold font-display uppercase">{{ page.title | escape }}</h1>
						{% if section.settings.collection != blank %}
							<a class="inline-block align-middle button mt-4 lg:mt-8" href="{{ section.settings.collection.url }}">&rightarrow;&nbsp;Voir collection</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="relative z-3 space-y-10 my-10 lg:space-y-24 lg:my-24">
		{% comment %}theme-check-disable LiquidTag{% endcomment %}
		{% assign index = 0 %}
		{% comment %}theme-check-enable LiquidTag{% endcomment %}

		{% for block in section.blocks %}
			{%- case block.type -%}

				{%- when 'images' -%}

					{% if block.settings.image_left != nil or block.settings.image_right != nil %}
						{% assign mod = forloop.index | modulo: 2 %}
						{%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}

						<div class="container" data-even="{% if mod == 0 %}true{% else %}false{% endif %}">
							<div class="row">
								<div class="lg:ml-1/12 {% if mod == 0 %} lg:col-3/12  {% else %} lg:col-5/12 {% endif %}">
									{% if block.settings.image_left != nil %}
										{% if block.settings.product_left != blank %}<a href="{{ product.settings.product_left.url }}" class="block">{% endif %}

										{% if block.settings.title_left != empty %}
											<p class="uppercase text-sm lg:mb-2.5 mb-1.5 {% if mod != 0 %} lg:hidden {% endif %}">
												{{- index | prepend: '00' | slice: -2, 2 | append: '.' -}}&nbsp;{{ block.settings.title_left }}
											</p>
										{% endif %}

										{% if block.settings.image_left != nil %}
											{{ block.settings.image_left | image_url: width: 1500 | image_tag:
												loading: 'lazy',
												sizes: sizes,
												widths: '165, 360, 535, 750, 1070, 1250, 1500'
											}}
										{% endif %}

										{% if block.settings.title_left != empty %}
											<p class="uppercase text-sm lg:mt-2.5 mt-1.5 hidden {% if mod != 0 %} lg:block  {% endif %}">
												{{- index | prepend: '00' | slice: -2, 2 | append: '.' -}}&nbsp;{{ block.settings.title_left }}
											</p>
										{% endif %}


										{% if block.settings.product_left != blank %}</a>{% endif %}
										{% assign index = index | plus: 1 %}
									{% endif %}
								</div>
								<div class="lg:ml-2/12 {% if mod == 0 %} lg:col-5/12 {% else %} lg:col-3/12 {% endif %} {% if block.settings.image_left != nil %} mt-10 lg:mt-0 {% endif %}">
									{% if block.settings.image_right != nil %}
										{% if block.settings.product_right != blank %}<a href="{{ block.settings.product_right.url }}" class="block">{% endif %}

										{% if block.settings.title_right != empty %}
											<p class="uppercase text-sm lg:mb-2.5 mb-1.5 {% if mod == 0 %} lg:hidden {% else %} lg:block {% endif %}">
												{{- index | prepend: '00' | slice: -2, 2 | append: '.' -}}&nbsp;{{ block.settings.title_right }}
											</p>
										{% endif %}

										{% if block.settings.image_right != nil %}
											{{ block.settings.image_right | image_url: width: 1500 | image_tag:
												loading: 'lazy',
												sizes: sizes,
												widths: '165, 360, 535, 750, 1070, 1250, 1500'
											}}
										{% endif %}

										{% if block.settings.title_right != empty %}
											<p class="uppercase text-sm lg:mt-2.5 mt-1.5 hidden {% if mod == 0 %}  lg:block {% endif %}">
												{{- index | prepend: '00' | slice: -2, 2 | append: '.' -}}&nbsp;{{ block.settings.title_right }}
											</p>
										{% endif %}

										{% assign index = index | plus: 1 %}
										{% if block.settings.product_right != blank %}</a>{% endif %}
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
			{%- endcase -%}
		{% endfor %}
	</div>
</main-lookbook>

{% schema %}
{
  "name": "t:sections.main-lookbook.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.main-lookbook.settings.video.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.main-lookbook.settings.collection.label"
    },
    {
      "type": "text",
      "id": "name",
      "label": "t:sections.main-lookbook.settings.name.label"
    }
  ],
  "blocks": [
    {
      "type": "images",
      "name": "t:sections.main-lookbook.blocks.images.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-lookbook.blocks.images.settings.header_left.content"
        },
        {
          "type": "image_picker",
          "id": "image_left",
          "label": "t:sections.main-lookbook.blocks.images.settings.image_left.label"
        },
        {
          "type": "text",
          "id": "title_left",
          "label": "t:sections.main-lookbook.blocks.images.settings.title_left.label"
        },
        {
          "type": "product",
          "id": "product_left",
          "label": "t:sections.main-lookbook.blocks.images.settings.product_left.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-lookbook.blocks.images.settings.header_right.content"
        },
        {
          "type": "image_picker",
          "id": "image_right",
          "label": "t:sections.main-lookbook.blocks.images.settings.image_right.label"
        },
        {
          "type": "text",
          "id": "title_right",
          "label": "t:sections.main-lookbook.blocks.images.settings.title_right.label"
        },
        {
          "type": "product",
          "id": "product_right",
          "label": "t:sections.main-lookbook.blocks.images.settings.product_right.label"
        }
      ]
    }
  ]
}
{% endschema %}
