{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

<article class="article-template relative" itemscope itemtype="http://schema.org/BlogPosting">

	{%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when 'featured_image'-%}
				{%- if article.image -%}
					<div
						class="relative h-[15.75rem] lg:h-[50.875rem]"
						itemprop="image"
						{{ block.shopify_attributes }}
					>
						<img
							srcset="{% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
							{% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
							{% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
							{% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
							{% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
							{% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
							{{ article.image | image_url }} {{ article.image.width }}w"
							sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
							src="{{ article.image | image_url: width: 1100 }}"
							loading="eager"
							width="{{ article.image.width }}"
							height="{{ article.image.height }}"
							alt="{{ article.image.alt | escape }}"
							class="w-full h-full object-cover object-center block"
						>
					</div>
				{%- endif -%}
		{%- endcase -%}
	{% endfor %}


	<div class="container">
		<div class="row">
			<div class="col-3/12 relative pt-5">

				<div class="lg:h-[22.75rem] relative">
					<p class="text-xs text-orange-grayish uppercase" itemprop="dateCreated pubdate datePublished">
						{{ article.published_at | time_tag: format: 'date' }}
					</p>

					{% if  article.tags %}
						<p class="text-xs uppercase">{{ article.tags | join: ' / ' }}</p>
					{% endif %}
					<hr class=" inset-x-0 w-[calc(100%_+_1.875rem)] h-[0.0625rem] bg-orange-grayish -ml-5 -mr-2.5 absolute bottom-0">
				</div>

				<div class="text-orange-dark-grayish mt-4">

					<p class="mb-1.5 uppercase text-sm">Share this story</p>
					<ul class="flex gap-2 flex-wrap">
						<li>
							<a class="block" href="https://twitter.com/intent/tweet?url={{ shop.url | append: request.path }}">
								{% render 'svg', icon: 'twitter', classes: 'w-[1.125rem] h-[1.125rem] fill-current' %}
							</a>
						</li>
						<li>
							<a class="block" href="https://www.facebook.com/sharer.php?u={{ shop.url | append: request.path }}">
								{% render 'svg', icon: 'facebook', classes: 'w-[1.125rem] h-[1.125rem] fill-current' %}
							</a>
						</li>
					</ul>
				</div>

				<hr class="absolute right-0 inset-y-0 w-[0.0625rem] h-full bg-orange-grayish">
			</div>
			<div class="col-9/12">
				<div class="row">
					<div class="col-7/10 ml-1/10 my-16 space-y-8">
						{%- for block in section.blocks -%}
							{%- case block.type -%}
								{%- when '@app' -%}
									{% render block %}

								{%- when 'title'-%}
									<header class="font-display text-center" {{ block.shopify_attributes }}>
										<p class="text-xl leading-[1.375rem]">Corail° Stories</p>
										<h1 class="text-6xl mt-5" itemprop="headline">{{ article.title | escape }}</h1>
									</header>

								{%- when 'content'-%}
									<div class="wysiwyg font-display text-xl left-9 font-medium" itemprop="articleBody" {{ block.shopify_attributes }}>
										{{- article.content -}}
									</div>
							{%- endcase -%}
						{%- endfor -%}
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr class="w-full h-[0.0625rem] bg-orange-grayish absolute bottom-0 inset-x-0">
</article>

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Article",
		"articleBody": {{ article.content | strip_html | json }},
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": {{ request.origin | append: page.url | json }}
		},
		"headline": {{ article.title | json }},
		{% if article.excerpt != blank %}
			"description": {{ article.excerpt | strip_html | json }},
		{% endif %}
		{% if article.image %}
			"image": [
				{{ article | image_url: width: article.image.width | prepend: "https:" | json }}
			],
		{% endif %}
		"datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
		"dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
		"author": {
			"@type": "Person",
			"name": {{ article.author | json }}
		},
		"publisher": {
			"@type": "Organization",
			{% if settings.share_image %}
				"logo": {
					"@type": "ImageObject",
					"height": {{ settings.share_image.height | json }},
					"url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
					"width": {{ settings.share_image.width | json }}
				},
			{% endif %}
			"name": {{ shop.name | json }}
		}
	}
</script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
	{
		"type": "slider_image",
		"name": "t:sections.main-article.blocks.slider_image.name",
		"settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "t:sections.main-article.blocks.slider_image.settings.image.label",
			}
		]
	},
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    }
  ]
}
{% endschema %}
