{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

TEST
{{blogs|json}}
{% for blog in blogs %}

	{%- paginate blog.articles by 6 -%}
		<div class="main-blog page-width section-{{ section.id }}-padding">
			<h1 class="title--primary">{{ blog.title | escape }}</h1>

			<div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
			{%- for article in blog.articles -%}
				<div class="blog-articles__article article">
				{%- render 'article-card',
					article: article,
					media_height: section.settings.image_height,
					media_aspect_ratio: article.image.aspect_ratio,
					show_image: section.settings.show_image,
					show_date: section.settings.show_date,
					show_author: section.settings.show_author,
					show_excerpt: true
				-%}
				</div>
			{%- endfor -%}
			</div>

			{%- if paginate.pages > 1 -%}
				{%- render 'pagination', paginate: paginate -%}
			{%- endif -%}
		</div>
	{%- endpaginate -%}
{% endfor %}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ]
}
{% endschema %}
