{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{{ 'video-section.css' | asset_url | stylesheet_tag }}

<section class="bg-cyan-very-dark-grayish text-white py-12 lg:py-14" style="background-size: 4.5rem 4.5rem; background-image: linear-gradient(to right, rgba(255,255,255, 0.06) 0.0625rem, transparent 0.0625rem), linear-gradient(to bottom, rgba(255,255,255, 0.06) 0.0625rem, transparent 0.0625rem);">
	<div class="container flex flex-col gap-y-12 lg:gap-y-0">

		<div class="row lg:-mt-10 relative z-1 lg:order-2">
			<div class="lg:col-8/12 lg:ml-2/12 lg:order-2">
				{%- if section.settings.video -%}
					<div class="relative lg:-mt-[2.625rem]" style="padding-bottom: {{ 100 | divided_by: section.settings.video.preview_image.aspect_ratio }}%">
						<video class="absolute inset-0 w-full h-full object-cover object-center" autoplay loop playsinline muted poster="{{ section.settings.video.preview_image | image_url }}">
							{% for source in section.settings.video.sources %}
								<source src="{{ source.url }}" type="{{ source.mime_type }}">
							{% endfor %}
						</video>
					</div>
				{%- elsif section.settings.video_url -%}
					<deferred-media
						class="video-section__media lg:-mt-[2.625rem] deferred-media no-js-hidden global-media-settings"
						data-media-id="{{ section.settings.video_url.id }}"
						{% if section.settings.video_cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.video_cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
					>
						<button
							id="Deferred-Poster-Modal-{{ section.settings.video_url.id }}"
							class="video-section__poster media deferred-media__poster media--landscape"
							type="button"
							aria-label="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
						>
							{%- if section.settings.video_cover_image != blank -%}
								{%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{%- endcapture -%}
								{%- assign alt = 'sections.video.load_video' | t: description: section.settings.description | escape -%}
								{{ section.settings.video_cover_image | image_url: width: 3840 | image_tag:
									loading: 'lazy',
									sizes: sizes,
									widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
									alt: alt
								}}
							{%- else -%}
								{{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
							{%- endif -%}

							<span class="absolute text-white z-1 inset-0 lg:w-[3.625rem] lg:h-[4.75rem] m-auto w-8 h-9">
								{% render 'svg', icon: 'play', classes: 'w-full h-full fill-current', description: shop.name %}
							</span>
						</button>

						<template>
						{%- if section.settings.video_url.type == 'youtube' -%}
							<iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
						{%- else -%}
							<iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
						{%- endif -%}
						</template>
					</deferred-media>
				{% endif %}
			</div>

			<div class="row -mt-7 lg:-mt-[20.125rem] relative z-3 lg:order-1">
				<div>
					<div class="font-bold text-6xl leading-[3.125rem] lg:text-[7.5rem] lg:leading-[8rem] uppercase text-center font-display">
						less<br>
						<span class="after:h-2.5 lg:after:h-4 relative after:inset-0 after:my-auto after:-mx-8 after:absolute after:bg-orange-light">plastic,</span><br>
						more<br>
						corail°<br>
					</div>
				</div>
			</div>
		</div>

		<div class="row gap-y-12 lg:order-1">
			{%- if section.settings.image_1 != blank -%}
				<div class="lg:col-3/12 lg:ml-1/12">
					<div class="relative">
						{{ section.settings.image_1 | image_url: width: 676 | image_tag:
							loading: 'lazy',
							width: section.settings.image_1.width,
							height: section.settings.image_1.height,
							class: 'relative z-1',
							sizes: '(min-width: 1024px) 100vw, 25vw',
							widths: '560, 676',
							alt: section.settings.image_1.alt | default: '' | escape
						}}
						{% render 'svg', icon: 'decor-01', classes: 'ml-8 lg:ml-0 lg:mr-3 -mt-9 lg:mt-0 relative lg:absolute z-2 lg:bottom-0 lg:left-0 lg:-mb-14 lg:-ml-16 h-28 w-28 fill-current', description: shop.name %}
					</div>
				</div>
			{%- endif -%}

			{% if section.settings.content != blank  or section.settings.link_url != blank %}
				<div class="lg:col-3.5/12 {% if section.settings.image_1 != blank %} lg:ml-1/12 {% else %} lg:ml-5/12 {% endif %}">
					<h2 class="font-display font-semibold text-3xl leading-none uppercase">{{- section.settings.title | escape -}}</h2>

					{% if section.settings.content != blank %}
						<p class="mt-2 leading-6">{{- section.settings.content | newline_to_br -}}</p>
					{% endif %}

					{% if section.settings.link_url != blank %}
						<a class="button inline-block align-middle mt-5" href="{{ section.settings.link_url }}">
							&rightarrow;&nbsp;{{- section.settings.link_title -}}
						</a>
					{% endif %}
				</div>
			{% endif %}

			{%- if section.settings.image_2 != blank -%}
				<div class="lg:col-3/12 lg:mt-64">
					<div class="relative">
						{{ section.settings.image_2 | image_url: width: 676 | image_tag:
							loading: 'lazy',
							width: section.settings.image_2.width,
							height: section.settings.image_2.height,
							class: 'relative z-1',
							sizes: '(min-width: 1024px) 100vw, 25vw',
							widths: '560, 676',
							alt: section.settings.image_2.alt | default: '' | escape
						}}
						{% render 'svg', icon: 'decor-02', classes: 'ml-auto lg:ml-0 -mt-16 lg:mt-0 mr-7 lg:mr-3 relative lg:absolute z-2 lg:bottom-0 lg:right-0 lg:-mb-14 h-28 w-28 fill-current', description: shop.name %}
					</div>
				</div>
			{%- endif -%}
		</div>
	</div>
</section>

{% schema %}
{
  "name": "t:sections.tech.name",
  "tag": "section",
  "class": "section section-tech",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "CORAIL° Lab",
      "label": "t:sections.tech.settings.title.label"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "t:sections.tech.settings.content.label"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "t:sections.tech.settings.link_title.label",
      "placeholder": "t:sections.tech.settings.link_title.placeholder"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.tech.settings.link_url.label"
    },
    {
      "type": "image_picker",
      "id": "video_cover_image",
      "label": "t:sections.tech.settings.video_cover_image.label"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.tech.settings.video.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.tech.settings.video_url.label",
      "placeholder": "t:sections.tech.settings.video_url.placeholder",
      "info": "t:sections.tech.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "video_description",
      "label": "t:sections.tech.settings.video_description.label",
      "info": "t:sections.tech.settings.video_description.info"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "t:sections.tech.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.tech.settings.image.label"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.tech.presets.name",
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
