<section class="bg-cyan-very-dark-grayish text-white py-14" style="background-size: 4.5rem 4.5rem; background-image: linear-gradient(to right, rgba(255,255,255, 0.06) 0.0625rem, transparent 0.0625rem), linear-gradient(to bottom, rgba(255,255,255, 0.06) 0.0625rem, transparent 0.0625rem);">
	<div class="container">
		<div class="row">

			{%- if section.settings.image_1 != blank -%}
				<div class="lg:col-3/12">

				  {{ section.settings.image_1 | image_url | image_tag:
					loading: 'lazy',
					width: section.settings.image_1.width,
					height: section.settings.image_1.height,
					class: '',
					widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
					alt: section.settings.image_1.alt | escape
				  }}
				</div>
			{%- endif -%}

			{% if section.settings.content != blank  or section.settings.link_url != blank %}
				<div class="lg:col-4/12">
					<h2 class="font-display font-semibold text-3xl leading-none uppercase">{{- section.settings.title | escape -}}</h2>

					{% if section.settings.content != blank %}
						<p class="mt-2">{{- section.settings.content | newline_to_br -}}</p>
					{% endif %}

					{% if section.settings.link_url != blank %}
						<a class="button inline-block align-middle mt-5" href="{{ section.settings.link_url }}">
							&rightarrow;&nbsp;{{- section.settings.link_title -}}
						</a>
					{% endif %}
				</div>
			{% endif %}



			<div>
				<div class="font-bold text-[7.5rem] leading-[8rem] uppercase text-center font-display">
					less<br>
					<span class="after:bg-red-very-light after:h-4 relative after:inset-0 after:my-auto after:-mx-8 after:absolute">plastic,</span><br>
					more<br>
					corail°<br>
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
  "name": "t:sections.tech.name",
  "tag": "section",
  "class": "section section-tech",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "CORAIL° Lab",
      "label": "t:sections.tech.settings.title.label"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "t:sections.tech.settings.content.label"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "t:sections.tech.settings.link_title.label",
      "placeholder": "t:sections.tech.settings.link_title.placeholder"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.tech.settings.link_url.label"
    },
    {
      "type": "image_picker",
      "id": "video_cover_image",
      "label": "t:sections.tech.settings.video_cover_image.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.tech.settings.video_url.label",
      "placeholder": "t:sections.tech.settings.video_url.placeholder",
      "info": "t:sections.tech.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "video_description",
      "label": "t:sections.tech.settings.video_description.label",
      "info": "t:sections.tech.settings.video_description.info"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "t:sections.tech.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.tech.settings.image.label"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.tech.presets.name",
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
