<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>

<slider-component class="block my-16 lg:my-28 overflow-hidden" data-parameters='{"spaceBetween":20}'>
	{% if section.settings.title != blank %}
		<div class="container mb-6">
			<div class="row">
				<div class="lg:ml-1/12 lg:col-5/12">
					<h2 class="text-3xl lg:text-6xl font-bold font-display">{{- section.settings.title -}}</h2>
				</div>

				<div class="lg:col-5/12 justify-end items-start lg:flex hidden">
					{% render 'slider-navigation' %}
				</div>

			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="lg:col-10/12 lg:ml-1/12 swiper overflow-visible">
					<div class="swiper-wrapper">
						{% for block in section.blocks %}
							{%- case block.type -%}
								{%- when 'slide' -%}
									<div class="w-full relative lg:w-3/10 h-[15.25rem] swiper-slide swiper-slide border-orange-grayish border-[0.0625rem] px-8 pb-4 pt-12">
										{% render 'svg', icon: 'quote-left', classes: 'm-4 absolute top-0 left-0 w-4 h-4 fill-current' %}
										{% render 'svg', icon: 'quote-right', classes: 'm-4 absolute right-0 bottom-0 w-4 h-4 fill-current' %}

										<div class="h-full flex flex-col">
											{%- if block.settings.content -%}
												<p class="text-xl font-medium font-display">{{- block.settings.content -}}</p>
											{%- endif -%}

											{%- if block.settings.title -%}
												<p class="mt-auto text-xs">{{- block.settings.title -}}</p>
											{%- endif -%}
										</div>
									</div>
							{%- endcase -%}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</slider-component>

{% schema %}
{
  "name": "t:sections.testimonials.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.testimonials.settings.title.label",
      "placeholder": "t:sections.testimonials.settings.title.placeholder"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.testimonials.blocks.slide.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.testimonials.blocks.slide.settings.title.label",
          "placeholder": "t:sections.testimonials.blocks.slide.settings.title.placeholder"
        },
        {
          "type": "text",
          "id": "content",
          "label": "t:sections.testimonials.blocks.slide.settings.content.label",
          "placeholder": "t:sections.testimonials.blocks.slide.settings.content.placeholder"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials.presets.name",
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
