<div class="twocolumn my-28 lg:my-[16rem]">
	<div class="container">

		{% if section.settings.title != blank %}
			<div class="row mb-14 lg:mb-24">
				<div class="lg:col-8/12 lg:ml-2/12">
					<h2 class="font-bold text-[3.125rem] leading-[2.8125rem] lg:text-[7.5rem] text-center lg:leading-[6.5625rem] font-display uppercase">
						{{ section.settings.title }}
					</h2>
				</div>
			</div>
		{% endif %}

		<div class="row ">
			<div class="lg:col-6/12">
				{{ section.settings.column_left_image | image_url: width: 692, height: 888 | image_tag:
					loading: 'lazy',
					widths: '275, 550, 710, 1420',
					class: 'w-full h-[22.5rem] lg:h-[54rem] object-cover object-center block'
				}}

				{% if section.settings.column_left_icon_research or section.settings.column_left_icon_technical or section.settings.column_left_icon_recycled %}
					<div class="hidden lg:flex justify-around mt-24 text-orange-dark-grayish text-center">
						{% if section.settings.column_left_icon_research %}
							<div>
								{% render 'svg', icon: 'decor-01', classes: 'w-28 h-28 fill-current block mx-auto' %}
								{% if section.settings.column_left_title_research %}<p class="mt-7 text-xs uppercase">{{ section.settings.column_left_title_research }}</p>{% endif %}
							</div>
						{% endif %}

						{% if section.settings.column_left_icon_technical %}
							<div>
								{% render 'svg', icon: 'decor-03', classes: 'w-28 h-28 fill-current block mx-auto' %}
								{% if section.settings.column_left_title_technical %}<p class="mt-7 text-xs uppercase">{{ section.settings.column_left_title_technical }}</p>{% endif %}
							</div>
						{% endif %}

						{% if section.settings.column_left_icon_recycled %}
							<div>
								{% render 'svg', icon: 'decor-04', classes: 'w-28 h-28 fill-current block mx-auto' %}
								{% if section.settings.column_left_title_recycled %}<p class="mt-7 text-xs uppercase">{{ section.settings.column_left_title_recycled }}</p>{% endif %}
							</div>
						{% endif %}
					</div>
				{% endif %}

			</div>
			<div class="lg:col-6/12 mt-8 lg:mt-0">
				<div class="row">
					<div class="lg:col-4/6 lg:ml-1/6">
						<h3 class="font-semibold text-3xl leading-8 text-[2.5rem] lg:leading-[2.75rem] uppercase font-display">
							{{ section.settings.column_right_title }}
						</h3>

						{% if section.settings.column_right_content != blank %}
							<p class="{% if section.settings.column_right_title != blank %} mt-2.5 {% endif %} font-medium font-display leading-5 lg:text-lg lg:leading-[1.5rem]">{{ section.settings.column_right_content | newline_to_br }}</p>
						{% endif %}

						{% if section.settings.column_right_button_link != blank %}
							<a
								href="{{ section.settings.column_right_button_link }}"
								class="{% if section.settings.column_right_title != blank or section.settings.column_right_content != blank %} mt-5 lg:mt-10 {% endif %} button button-red inline-block align-middle"
							>
								&rightarrow;&nbsp;{{ section.settings.column_right_button_label }}
							</a>
						{% endif %}

					</div>
				</div>
				{{ section.settings.column_right_image | image_url: width: 692, height: 888 | image_tag:
					loading: 'lazy',
					widths: '275, 550, 710, 1420',
					class: 'w-full h-[22.5rem] lg:h-[54rem] mt-24 object-cover object-center hidden lg:block'
				}}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.twocolumn.name",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Twocolumn",
      "label": "t:sections.twocolumn.settings.title.label"
    },
    {
      "type": "image_picker",
      "id": "column_left_image",
      "label": "t:sections.twocolumn.settings.column_left_image.label"
    },
    {
      "type": "header",
      "content": "t:sections.twocolumn.settings.icons.content"
    },
    {
      "type": "text",
      "id": "column_left_title_research",
      "label": "t:sections.twocolumn.settings.column_left_title_research.label"
    },
    {
      "type": "checkbox",
      "id": "column_left_icon_research",
      "label": "t:sections.twocolumn.settings.column_left_icon_research.label"
    },
    {
      "type": "text",
      "id": "column_left_title_technical",
      "label": "t:sections.twocolumn.settings.column_left_title_technical.label"
    },
    {
      "type": "checkbox",
      "id": "column_left_icon_technical",
      "label": "t:sections.twocolumn.settings.column_left_icon_technical.label"
    },
    {
      "type": "text",
      "id": "column_left_title_recycled",
      "label": "t:sections.twocolumn.settings.column_left_title_recycled.label"
    },
    {
      "type": "checkbox",
      "id": "column_left_icon_recycled",
      "label": "t:sections.twocolumn.settings.column_left_icon_recycled.label"
    },
    {
      "type": "text",
      "id": "column_right_title",
      "default": "Column right title",
      "label": "t:sections.twocolumn.settings.column_right_title.label"
    },
    {
      "type": "textarea",
      "id": "column_right_content",
      "default": "Column right content",
      "label": "t:sections.twocolumn.settings.column_right_content.label"
    },
    {
      "type": "text",
      "id": "column_right_button_label",
      "default": "Button label",
      "label": "t:sections.twocolumn.settings.column_right_button_label.label"
    },
    {
      "type": "url",
      "id": "column_right_button_link",
      "label": "t:sections.twocolumn.settings.column_right_button_link.label"
    },
    {
      "type": "image_picker",
      "id": "column_right_image",
      "label": "t:sections.twocolumn.settings.column_right_image.label"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.twocolumn.presets.name"
    }
  ]
}
{% endschema %}
